<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout/managerLayout">
<head>
<link href="/css/boardStyle.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/js/managerTeacherTimeCard.js"></script>
<script type="text/javascript" src="/js/page/pageTImeCard.js"></script>
</head>
<body>

	<div layout:fragment="content">

		<div class="page-wrapper">
			<div class="page-content-tab">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<div class="page-title-box">
								<h2 class="page-title">출퇴근 기록</h2>
							</div>
							<div class="row">
								<div class="col-12">
									<div class="card">
										<div class="card-body">
											<input id="time-card-date" type="date" th:value="${timeDate}">
											<select name="attendance" id="attendance-type"
												style="width: 85px; font-size: 15px;">
												<option value="전체">전체</option>
												<option th:each="attendanceState : ${attendanceStateList}"
													th:value="${attendanceState.attendanceStateCode}"
													th:text="${attendanceState.attendanceStateName}"
													th:selected="${attendanceState.attendanceStateCode} == ${stateName}"></option>
											</select>
											<table id="datatable" class="table dataTable no-footer"
												role="grid" aria-describedby="datatable_info">
												<thead class="thead-light">
													<tr role="row">
														<th class="" tabindex="0" aria-controls="datatable"
															rowspan="1" colspan="1" aria-sort="ascending"
															aria-label="Lead: activate to sort column descending"
															style="width: 40px;">번호</th>
														<th class="" tabindex="0" aria-controls="datatable"
															rowspan="1" colspan="1" aria-sort="ascending"
															aria-label="Lead: activate to sort column descending"
															style="width: 40px;">강사명</th>
														<th class="" tabindex="0" aria-controls="datatable"
															rowspan="1" colspan="1" aria-sort="ascending"
															aria-label="Lead: activate to sort column descending"
															style="width: 40px;">출근시간</th>
														<th class="" tabindex="0" aria-controls="datatable"
															rowspan="1" colspan="1" aria-sort="ascending"
															aria-label="Lead: activate to sort column descending"
															style="width: 40px;">퇴근시간</th>
														<th class="" tabindex="0" aria-controls="datatable"
															rowspan="1" colspan="1" aria-sort="ascending"
															aria-label="Lead: activate to sort column descending"
															style="width: 40px;">연락처</th>
														<th class="" tabindex="0" aria-controls="datatable"
															rowspan="1" colspan="1" aria-sort="ascending"
															aria-label="Lead: activate to sort column descending"
															style="width: 40px;">상태</th>
													</tr>
												</thead>
												<tbody id="attendance-list" class="time-card-list">
													<tr th:each="attendance : ${getTeacherTimeCard}">
														<td th:text="${attendanceStat.count}"></td>
														<td th:text="${attendance.userName}"></td>
														<td th:text="${attendance.attendanceComeTimeEnco}"></td>
														<td th:text="${attendance.attendanceGoTimeEnco}"></td>
														<td th:text="${attendance.userTel}"></td>
														<td th:text="${attendance.attendanceStateName}"></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
									<!-- paging -->
									<br>
									<div class="row">
										<!-- <div class="col-sm-12 col-md-5">
		                            <div class="dataTables_info" id="order-listing_info" role="status" aria-live="polite">
		                                <p th:text="'Showing 1 to ' +${teacherList.size()}+ ' of '+${teacherList.size()} +' entries'">
		
		                            </div>
		                        </div> -->
										<div class="col-sm-12 col-md-7">
											<div class="dataTables_paginate paging_simple_numbers"
												id="dataTable_paginate">
												<ul class="pagination justify-content-end">
													<li class="paginate_button page-item previous"
														id="dataTable_previous" th:if="${pageMaker.prev}"><a
														th:href="${pageMaker.endPage -1}"
														aria-controls="dataTable" data-dt-idx="0" tabindex="0"
														class="page-link">Prev</a></li>
													<th:block
														th:each="number: ${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}">
														<li class="paginate_button page-item"
															th:classappend="${pageMaker.cri.pageNum eq number} ? active : ''">
															<a th:href="${number}" aria-controls="dataTable"
															data-dt-idx="1" tabindex="0" class="page-link"
															th:text="${number}">1</a>
														</li>
													</th:block>

													<li class="paginate_button page-item next"
														id="dataTable_next" th:if="${pageMaker.next}"><a
														th:href="${pageMaker.endPage +1}"
														aria-controls="dataTable" data-dt-idx="7" tabindex="0"
														class="page-link">Next</a></li>
												</ul>
											</div>
										</div>
									</div>
									<!-- paging end-->

									<form id='actionForm' action="/getManagerTeacherTimeCard"
										method='get'>
										<input type='hidden' name='pageNum'
											th:value="${pageMaker.cri.pageNum}"> <input
											type='hidden' name='amount'
											th:value="${pageMaker.cri.amount}">
									</form>


								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>