<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout/managerLayout">
<head>
<meta charset="UTF-8">
<link href="/css/boardStyle.css" rel="stylesheet" type="text/css">
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script type="text/javascript" src="/js/managerInfo.js"></script>
<title>원장-내정보조회</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="page-wrapper">
			<div class="page-content-tab">
				<div class="container">

					<!-- 공간   -->
					<div class="row">
						<div class="col-sm-12">
							<div class="page-title-box">
								<h2 th:text="${manager.userName} + '님의 정보'"></h2>
								<div class="row">
									<div class="col-12">
										<div class="card">
											<div class="card-body">

												<h5>사진</h5>
												<img
													class="rounded-circle thumb-lg" id="manager-img"
													th:data-img="${manager.userImage}"
													th:src="'/img/' + ${manager.userImage}"
													style="width: 200px; height: 200px; margin-top: 10px;"
													text-align="center">
													<p></p><input id="manager-file" type="file"> <br> 

												<h5>ID</h5>
												<input class="form-control" id="manager-id"
													th:value="${manager.userId}" readOnly></input>
												<h5>이름</h5>

												<input class="form-control" id="manager-name"
													th:value="${manager.userName}"></input>
												<h5>전화번호</h5>
												<input class="form-control" id="manager-tel"
													th:value="${manager.userTel}"></input>
												<h5>생년월일</h5>
												<input class="form-control" id="manager-birth"
													th:value="${manager.userBirthEnco}"></input>
												<h5>이메일</h5>
												<input class="form-control" id="manager-email"
													th:value="${manager.userEmail}"></input>
												<h5>주소</h5>
												<input class="form-control" id="manager-address"
													th:value="${manager.userAddress}"></input>
												<h5>입사일</h5>
												<input class="form-control" id="manager-registration"
													th:value="${manager.userRegistration}" readOnly></input>
												<h5>비고</h5>
												<input class="form-control" id="manager-remark"
													th:value="${manager.userRemark}"></input>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- 경력 리스트 시작  -->

					<div class="row">
						<div class="col-sm-12">
							<table id="datatable" class="table dataTable no-footer"
								role="grid" aria-describedby="datatable_info">
								<thead class="thead-light">
									<tr role="row">
										<th class="" tabindex="0" aria-controls="datatable"
											rowspan="1" colspan="1" aria-sort="ascending"
											aria-label="Lead: activate to sort column descending"
											style="width: 40px;">번호</th>
										<th class="" tabindex="0" aria-controls="datatable"
											rowspan="1" colspan="1" aria-sort="ascending"
											aria-label="Lead: activate to sort column descending"
											style="width: 40px;">최종학력</th>
										<th class="" tabindex="0" aria-controls="datatable"
											rowspan="1" colspan="1" aria-sort="ascending"
											aria-label="Lead: activate to sort column descending"
											style="width: 40px;">경력기간</th>
										<th class="" tabindex="0" aria-controls="datatable"
											rowspan="1" colspan="1" aria-sort="ascending"
											aria-label="Lead: activate to sort column descending"
											style="width: 40px;">근무처</th>
										<th class="" tabindex="0" aria-controls="datatable"
											rowspan="1" colspan="1" aria-sort="ascending"
											aria-label="Lead: activate to sort column descending"
											style="width: 40px;">근무내용</th>
									<tr>
								</thead>
								<tbody>
									<tr th:each="manager : ${getManagerCareer}">
										<td th:text="${managerStat.count}"></td>
										<td th:text="${manager.academicBackGround}"></td>
										<td th:text="${manager.careerPeriod}"></td>
										<td th:text="${manager.careerLocation}"></td>
										<td th:text="${manager.careerContent}"></td>
									</tr>


								</tbody>
							</table>
						</div>
					</div>

					<!-- 경력 리스트 끝 -->

					<button type="button" id="info-update-btn"
						class="btn btn-primary waves-effect waves-light float-right mb-3"
						data-toggle="modal" data-animation="bounce"
						data-target=".bs-example-modal-lg">수정하기</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>