<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>거래처</title>
<meta th:include="/include/meta.html">
</head>
<body>
	<div th:include="/include/topbar.html"></div>
	<div th:include="/include/navbar.html"></div>
	<div class="page-wrapper">
		<!-- Page Content-->
		<div class="page-content-tab">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="page-title-box">

							<h4 class="page-title">거래처</h4>
						</div>
						<!--end page-title-box-->
					</div>
					<!--end col-->
				</div>
				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-body">
								<button type="button"
									class="btn btn-primary waves-effect waves-light float-right mb-3"
									data-toggle="modal" data-animation="bounce"
									data-target=".bs-example-modal-lg">+ 거래처 등록</button>
								<h4 class="header-title mt-0 mb-3">거래처 목록</h4>
								<div class="table-responsive dash-social">
									<div id="datatable_wrapper"
										class="dataTables_wrapper dt-bootstrap4 no-footer">
										<div class="row">
											<div class="col-sm-12 col-md-6">
												<div class="dataTables_length" id="datatable_length">
													<label>필터 <select name="datatable_length"
														aria-controls="datatable"
														class="custom-select custom-select-sm form-control form-control-sm">
															<option value="10">전체</option>
															<option value="25">일자 검색</option>
															<option value="50">선생 검색</option>
															<option value="100">과목 검색</option>
															<option value="100">강의 검색</option>
															<option value="100">연령대 검색</option>
													</select>
													</label>
												</div>
											</div>
											<div class="col-sm-12 col-md-6">
												<div id="datatable_filter" class="dataTables_filter">
													<label>Search:<input
														type="search" class="form-control form-control-sm"
														placeholder="번호 / 이름 / 강의선생 / 과목"
														aria-controls="datatable"></label>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-12">
												<table id="datatable" class="table dataTable no-footer"
													role="grid" aria-describedby="datatable_info">
													<thead class="thead-light">
														<tr role="row">
															<th class="sorting_asc" style="width: 50px;">번호</th>
															<th class="sorting" style="width: 50px;">거래처 명</th>
															<th class="sorting" style="width: 300px;">거래처 주소</th>
															<th class="sorting" style="width: 80px;">거래처 번호</th>
															<th class="sorting" style="width: 120px;">등록/수정일</th>
															<th class="sorting" style="width: 80px;">버튼</th>
															<!-- <th class="sorting" style="width: 60px;">추가</th>
															<th class="sorting" style="width: 60px;">추가</th> -->

														</tr>
														<!--end tr-->
													</thead>
													<tbody>
														
														<tr th:each="supplier : ${supplier}" role="row" class="odd">
															<td th:text="${supplier.supplier_no}"></td>
															<td th:text="${supplier.supplier_name}"></td>
															<td th:text="${supplier.supplier_address}"></td>
															<td th:text="${supplier.supplier_tel}"></td>
															<td th:text="${supplier.supplier_date}"></td>
															<td name="buttons">
																<div class="pull-right">																
																	<button id="bEdit" type="button" class="btn btn-sm btn-soft-success btn-circle mr-2" onclick="rowEdit(this);">
																		<i class="dripicons-pencil">
																		::before
																		</i>
																	</button>
																	<button id="bElim" type="button" class="btn btn-sm btn-soft-danger btn-circle" onclick="rowElim(this);">
																		<i class="dripicons-trash" aria-hidden="true">
																		::before
																		</i>
																	</button>
																	<button id="bAcep" type="button" class="btn btn-sm btn-soft-purple mr-2 btn-circle" style="display: none;" onclick="rowAcep(this);">
																		<i class="dripicons-checkmark"></i>
																	</button>
																	<button id="bCanc" type="button" class="btn btn-sm btn-soft-info btn-circle" style="display: none;" onclick="rowCancel(this);">
																		<i class="dripicons-cross" aria-hidden="true"></i>
																	</button>																	
																</div>
															</td>
															
															<!-- <td>공란</td>
															<td>공란</td> -->
														</tr>
														
													</tbody>
												</table>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-12 col-md-5"></div>
											<div class="col-sm-12 col-md-7">
												<div class="dataTables_paginate paging_simple_numbers"
													id="datatable_paginate">
													<ul class="pagination">
														<li class="paginate_button page-item previous disabled"
															id="datatable_previous">
															<a href="#" aria-controls="datatable" data-dt-idx="0" tabindex="0"
															class="page-link">이전</a>
														</li>
														<li class="paginate_button page-item active">
															<a href="#" aria-controls="datatable" data-dt-idx="1"
																tabindex="0" class="page-link">1</a>
														</li>
														<li class="paginate_button page-item">
															<a href="#"	aria-controls="datatable" data-dt-idx="1" tabindex="0"
																class="page-link">2</a>
														</li>
														<li class="paginate_button page-item">
														<a href="#" aria-controls="datatable" data-dt-idx="1" tabindex="0"
															class="page-link">3</a>
														</li>
														<li class="paginate_button page-item">
															<a href="#" aria-controls="datatable" data-dt-idx="1" tabindex="0"
															class="page-link">4</a>
														</li>
														<li class="paginate_button page-item next" id="datatable_next">
															<a href="#" aria-controls="datatable" data-dt-idx="2" tabindex="0"
															class="page-link">다음</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--end card-body-->
						</div>
						<!--end card-->
					</div>
					<!--end col-->
				</div>
			</div>
		</div>
	</div>
	<div th:include="/include/footer.html"></div>
	<!-- js Plugin -->
	<script src=></script>
</body>
</html>