<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>학생목록</title>
<meta th:include="/include/meta.html">
</head>
<body>
<div th:include="/include/topbar.html"></div>
<div th:include="/include/navbar.html"></div>
	<div class="page-wrapper">
		<!-- Page Content-->
		<div class="page-content-tab">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="page-title-box">

							<h4 class="page-title">학생관리</h4>
						</div>
						<!--end page-title-box-->
					</div>
					<!--end col-->
				</div>
				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-body">
								<button type="button"
									class="btn btn-primary waves-effect waves-light float-right mb-3"
									data-toggle="modal" data-animation="bounce"
									data-target=".bs-example-modal-lg">+ 학생 등록</button>
								<h4 class="header-title mt-0 mb-3">학생 목록</h4>
								<div class="table-responsive dash-social">
									<div id="datatable_wrapper"
										class="dataTables_wrapper dt-bootstrap4 no-footer">
										<div class="row">
											<div class="col-sm-12 col-md-6">
												<div class="dataTables_length" id="datatable_length">
													<label>필터 <select name="datatable_length"
														aria-controls="datatable"
														class="custom-select custom-select-sm form-control form-control-sm">
															<option value="10">전체</option>
															<option value="25">일자 검색</option>
															<option value="50">선생 검색</option>
															<option value="100">과목 검색</option>
															<option value="100">강의 검색</option>
															<option value="100">연령대 검색</option>
													</select>
													</label>
												</div>
											</div>
											<div class="col-sm-12 col-md-6">
												<div id="datatable_filter" class="dataTables_filter">
													<label>Search:<input
														type="search" class="form-control form-control-sm"
														placeholder="번호 / 이름 / 강의선생 / 과목"
														aria-controls="datatable"></label>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-12">
												<table id="datatable" class="table dataTable no-footer"
													role="grid" aria-describedby="datatable_info">
													<thead class="thead-light">
														<tr role="row">
															<th class="sorting_asc" style="width: 50px;">번호</th>
															<th class="sorting" style="width: 50px;">이름</th>
															<th class="sorting" style="width: 35px;">나이</th>
															<th class="sorting" style="width: 80px;">연락처</th>
															<th class="sorting" style="width: 120px;">수강과목</th>
															<th class="sorting" style="width: 60px;">출결상태</th>
															<th class="sorting" style="width: 87px;">수강 시작일</th>
															<th class="sorting" style="width: 60px;">추가</th>
															<th class="sorting" style="width: 60px;">추가</th>
															<th class="sorting" style="width: 60px;">추가</th>

														</tr>
														<!--end tr-->
													</thead>
													<tbody>
														<!--end tr-->
														<!--end tr-->
														<!--end tr-->
														<!--end tr-->
														<!--end tr-->
														<!--end tr-->
														<tr role="row" class="odd">
															<td>2039D930A</td>
															<td>고재현</td>
															<td>26</td>
															<td>010-1234-5678</td>
															<td>고등영어 단기 1반</td>
															<td><span class="badge badge-soft-danger">지각</span></td>
															<td>2020-04-01</td>
															<td>공란</td>
															<td>공란</td>
															<td>공란</td>
														</tr>
														<tr role="row" class="odd">
															<td>2039D930A</td>
															<td>고재현</td>
															<td>26</td>
															<td>010-1234-5678</td>
															<td>고등영어 단기 1반</td>
															<td><span class="badge badge-soft-secondary">출석</span></td>
															<td>2020-04-01</td>
															<td>공란</td>
															<td>공란</td>
															<td>공란</td>
														</tr>
														<tr role="row" class="odd">
															<td>2039D930A</td>
															<td>고재현</td>
															<td>26</td>
															<td>010-1234-5678</td>
															<td>고등영어 단기 1반</td>
															<td><span class="badge badge-soft-danger">지각</span></td>
															<td>2020-04-01</td>
															<td>공란</td>
															<td>공란</td>
															<td>공란</td>
														</tr>
														<tr role="row" class="odd">
															<td>2039D930A</td>
															<td>고재현</td>
															<td>26</td>
															<td>010-1234-5678</td>
															<td>고등영어 단기 1반</td>
															<td><span class="badge badge-soft-secondary">출석</span></td>
															<td>2020-04-01</td>
															<td>공란</td>
															<td>공란</td>
															<td>공란</td>
														</tr>
														<tr role="row" class="odd">
															<td>2039D930A</td>
															<td>고재현</td>
															<td>26</td>
															<td>010-1234-5678</td>
															<td>고등영어 단기 1반</td>
															<td><span class="badge badge-soft-danger">지각</span></td>
															<td>2020-04-01</td>
															<td>공란</td>
															<td>공란</td>
															<td>공란</td>
														</tr>
														<tr role="row" class="odd">
															<td>2039D930A</td>
															<td>고재현</td>
															<td>26</td>
															<td>010-1234-5678</td>
															<td>고등영어 단기 1반</td>
															<td><span class="badge badge-soft-secondary">출석</span></td>
															<td>2020-04-01</td>
															<td>공란</td>
															<td>공란</td>
															<td>공란</td>
														</tr>
														<tr role="row" class="odd">
															<td>2039D930A</td>
															<td>고재현</td>
															<td>26</td>
															<td>010-1234-5678</td>
															<td>고등영어 단기 1반</td>
															<td><span class="badge badge-soft-danger">지각</span></td>
															<td>2020-04-01</td>
															<td>공란</td>
															<td>공란</td>
															<td>공란</td>
														</tr>
														<tr role="row" class="odd">
															<td>2039D930A</td>
															<td>고재현</td>
															<td>26</td>
															<td>010-1234-5678</td>
															<td>고등영어 단기 1반</td>
															<td><span class="badge badge-soft-secondary">출석</span></td>
															<td>2020-04-01</td>
															<td>공란</td>
															<td>공란</td>
															<td>공란</td>
														</tr>
														<tr role="row" class="odd">
															<td>2039D930A</td>
															<td>고재현</td>
															<td>26</td>
															<td>010-1234-5678</td>
															<td>고등영어 단기 1반</td>
															<td><span class="badge badge-soft-danger">지각</span></td>
															<td>2020-04-01</td>
															<td>공란</td>
															<td>공란</td>
															<td>공란</td>
														</tr>
														<tr role="row" class="odd">
															<td>2039D930A</td>
															<td>고재현</td>
															<td>26</td>
															<td>010-1234-5678</td>
															<td>고등영어 단기 1반</td>
															<td><span class="badge badge-soft-secondary">출석</span></td>
															<td>2020-04-01</td>
															<td>공란</td>
															<td>공란</td>
															<td>공란</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-12 col-md-5"></div>
											<div class="col-sm-12 col-md-7">
												<div class="dataTables_paginate paging_simple_numbers"
													id="datatable_paginate">
													<ul class="pagination">
														<li class="paginate_button page-item previous disabled"
															id="datatable_previous"><a href="#"
															aria-controls="datatable" data-dt-idx="0" tabindex="0"
															class="page-link">이전</a></li>
														<li class="paginate_button page-item active"><a
															href="#" aria-controls="datatable" data-dt-idx="1"
															tabindex="0" class="page-link">1</a></li>
														<li class="paginate_button page-item"><a href="#"
															aria-controls="datatable" data-dt-idx="1" tabindex="0"
															class="page-link">2</a></li>
														<li class="paginate_button page-item"><a href="#"
															aria-controls="datatable" data-dt-idx="1" tabindex="0"
															class="page-link">3</a></li>
														<li class="paginate_button page-item"><a href="#"
															aria-controls="datatable" data-dt-idx="1" tabindex="0"
															class="page-link">4</a></li>
														<li class="paginate_button page-item next"
															id="datatable_next"><a href="#"
															aria-controls="datatable" data-dt-idx="2" tabindex="0"
															class="page-link">다음</a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--end card-body-->
						</div>
						<!--end card-->
					</div>
					<!--end col-->
				</div>
				
				<div class="row mg-top30">
					<div class="col-12">
						<div class="card">
							<div class="card-body">
								<h4 class="header-title mt-0 mb-3">미납리스트</h4>
								<div class="table-responsive dash-social">
									<div id="datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
										<div class="row">
											<div class="col-sm-12 col-md-6">
												<div class="dataTables_length" id="datatable_length">
													<label>필터 <select name="datatable_length" aria-controls="datatable" class="custom-select custom-select-sm form-control form-control-sm">
															<option value="10">전체</option>
															<option value="25">일자 검색</option>
															<option value="50">선생 검색</option>
															<option value="100">과목 검색</option>
															<option value="100">강의 검색</option>
															<option value="100">연령대 검색</option>
													</select>
													</label>
												</div>
											</div>
											<div class="col-sm-12 col-md-6">
												<div id="datatable_filter" class="dataTables_filter">
													<label style="width: 300px;">Search:<input type="search" class="form-control form-control-sm" placeholder="번호 / 이름 / 강의선생 / 과목" aria-controls="datatable"></label>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-12">
												<table id="datatable" class="table dataTable no-footer" role="grid" aria-describedby="datatable_info">
													<thead class="thead-light">
														<tr role="row">
															<th class="sorting_asc" style="width: 35px;">번호</th>
															<th class="sorting" style="width: 50px;">이름</th>
															<th class="sorting" style="width: 100px;">강의명</th>
															<th class="sorting" style="width: 50px;">강의선생</th>
															<th class="sorting" style="width: 75px;">연체금액</th>
															<th class="sorting" style="width: 75px;">납부일</th>
															<th class="sorting" style="width: 35px;">연체기간</th>
															<th class="sorting" style="width: 75px;">보호자연락처</th>
															<th class="sorting" style="width: 60px;">SMS보내기</th>
														</tr>
														<!--end tr-->
													</thead>
													<tbody>
														<tr role="row" class="odd">
															<td>1</td>
															<td>고재현</td>
															<td>고등영어 단기 1반</td>
															<td>이찬영</td>
															<td>198,720원</td>
															<td>2020-04-01</td>
															<td>16일</td>
															<td>010-1234-5678</td>
															<td><span class="badge badge-soft-secondary">문자보내기</span></td>
														</tr>
														<tr role="row" class="odd">
															<td>2</td>
															<td>고재현</td>
															<td>고등영어 단기 1반</td>
															<td>이찬영</td>
															<td>198,720원</td>
															<td>2020-04-01</td>
															<td>16일</td>
															<td>010-1234-5678</td>
															<td><span class="badge badge-soft-secondary">문자보내기</span></td>
														</tr>
														<tr role="row" class="odd">
															<td>3</td>
															<td>고재현</td>
															<td>고등영어 단기 1반</td>
															<td>이찬영</td>
															<td>198,720원</td>
															<td>2020-04-01</td>
															<td>16일</td>
															<td>010-1234-5678</td>
															<td><span class="badge badge-soft-secondary">문자보내기</span></td>
														</tr>
														<tr role="row" class="odd">
															<td>4</td>
															<td>고재현</td>
															<td>고등영어 단기 1반</td>
															<td>이찬영</td>
															<td>198,720원</td>
															<td>2020-04-01</td>
															<td>16일</td>
															<td>010-1234-5678</td>
															<td><span class="badge badge-soft-secondary">문자보내기</span></td>
														</tr>
														<tr role="row" class="odd">
															<td>5</td>
															<td>고재현</td>
															<td>고등영어 단기 1반</td>
															<td>이찬영</td>
															<td>198,720원</td>
															<td>2020-04-01</td>
															<td>16일</td>
															<td>010-1234-5678</td>
															<td><span class="badge badge-soft-secondary">문자보내기</span></td>
														</tr>
														
														
														
                                                       </tbody>
												</table>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-12 col-md-5"></div>
											<div class="col-sm-12 col-md-7">
												<div class="dataTables_paginate paging_simple_numbers" id="datatable_paginate">
													<ul class="pagination">
														<li class="paginate_button page-item previous disabled" id="datatable_previous"><a href="#" aria-controls="datatable" data-dt-idx="0" tabindex="0" class="page-link">이전</a></li>
														<li class="paginate_button page-item active"><a href="#" aria-controls="datatable" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
														<li class="paginate_button page-item"><a href="#" aria-controls="datatable" data-dt-idx="1" tabindex="0" class="page-link">2</a></li><li class="paginate_button page-item"><a href="#" aria-controls="datatable" data-dt-idx="1" tabindex="0" class="page-link">3</a></li><li class="paginate_button page-item"><a href="#" aria-controls="datatable" data-dt-idx="1" tabindex="0" class="page-link">4</a></li><li class="paginate_button page-item next" id="datatable_next"><a href="#" aria-controls="datatable" data-dt-idx="2" tabindex="0" class="page-link">다음</a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--end card-body-->
						</div>
						<!--end card-->
					</div>
					<!--end col-->
				</div>
				
				
				
			</div>
		</div>
	</div>
<div th:include="/include/footer.html"></div>
</body>
</html>