<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>학생정보수정</title>
<meta th:include="/include/meta.html">
</head>
<body>
	<div class="page-wrapper">
		<!-- Page Content-->
		<div class="page-content-tab">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="text-center">
							<h4 class="page-title">학생정보 수정</h4>
						</div>
						<!--end page-title-box-->
					</div>
					<!--end col-->
				</div>

				<!-- 학생 정보 입력칸 시작  -->
				<div class="row">
					<div class="met-profile-main-pic col-lg-4"
						style="display: list-itemflex; margin: auto;">
						<div class="col-lg-4 align-self-center mb-3 mb-lg-0">
						<div class="met-profile-main-pic">
							<img src="img/human.png" alt="" height="100"
								class="rounded-circle"> <span
								class="fro-profile_main-pic-change"><i
								class="fas fa-camera" aria-hidden="true"></i></span>
						</div>
						</div>	
					</div>
					<div class="align-self-center  col-lg-12" style="">
						<div class="met-profile-main">

							<div class="met-profile_user-detail"></div>
							<div class="col-lg-4" style="margin: auto;">
								<form class="form-horizontal form-material mb-0" th:action="@{/modifyStudent}" 
					th:method="POST">
									<div class="form-group">
									<input th:value="${studentInfo.user_id}" type="hidden" name="user_id">
									<!-- <input th:value="${studentInfo.authority_code}" type="hidden" name="authority_code"> -->
										이름 <input type="text" class="form-control" th:value="${studentInfo.user_name}" name="user_name">
											<p></p>
										생년월일 <input type="date" class="form-control" th:value="${studentInfo.user_birth}" name="user_birth">
											<p></p>
										연락처 <input type="text" 
												class="form-control" th:value="${studentInfo.user_tel}" name="user_tel">
											<p></p>
										보호자연락처 <input type="text" 
												class="form-control" th:value="${studentInfo.user_parent_tel}" name="user_parent_tel" >
											<p></p>
										학교명 <input type="text" 
												class="form-control" th:value="${studentInfo.school_name}" name="school_name" >
											<p></p>
										문/이과 <select class="form-control" name="academic_type_code">
												<option value="0">선택</option>
												<option value="1">문과</option>
												<option value="2">이과</option>
										</select> 주소 <input type="text" th:value="${studentInfo.user_address}" name="user_address" 
												class="form-control">
											<p></p>
									</div>
									특이사항
										<div class="form-group">
											<textarea rows="5" th:value="${studentInfo.user_remark}" name="user_remark"
												class="form-control"></textarea>
											<button
												class="btn btn-primary btn-sm px-4 mt-3 float-right mb-0"
												onclick="studentRegistClose();">수정완료</button>
										</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!--  학생입력칸 종료 -->

			</div>
		</div>
	</div>
</body>
</html>