<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout/teacherLayout">
<head>
<link href="/css/lecture.css" rel="stylesheet" type="text/css">
<script src="https://canvasjs.com/asssets/script/canvasjs.min.js"></script>
<script src="/js/approval.js"></script>
</head>
<body>
	<div layout:fragment="content">
		<div class="page-wrapper">
			<!-- Page Content-->
			<div class="page-content-tab">
				<div class="container">
					<!-- 공간   -->
					<div class="row">
						<div class="col-sm-12">
							<div class="page-title-box">
								<h2 class="page-title">결재신청</h2>
							</div>
							<!--end page-title-box-->
						</div>
						<!--end col-->
					</div>
					<!-- 강의정보입력 시작  -->
					<div class="row">
						<div class="met-profile-main-pic col-lg-4"
							style="display: list-itemflex; margin: auto;">
							<div class="col-lg-4 align-self-center mb-3 mb-lg-0">
								<div class="met-profile-main-pic"></div>
							</div>
						</div>
						<div class="align-self-center  col-lg-12" style="">
							<div class="met-profile-main">

								<div class="met-profile_user-detail"></div>
								<div class="col-lg-4" style="margin: auto;">

									<form class="form-horizontal form-material mb-0"
										th:action="@{/insertApproval}" th:object="${approvalVO}"
										th:method="POST">
										<div class="form-group">
											<!-- 신청자명<input type="text" th:field="*{userId}"
												placeholder="강의명" class="form-control">
											<p></p> -->

											결재종류 <select name="approval-type"
												th:field="*{approvalTypeCode}" class="form-control">
												<option value="">결재종류</option>
												<option value="APPROVAL_VACATION">휴가신청</option>
												<option value="APPROVAL_EQUIPMENT">비품신청</option>
												<option value="APPROVAL_SUGGESTION">건의사항</option>
												<!-- <option th:each=" : ${lectureSubjectList}"
													th:value="${lectureSubject.lectureSubjectCode}"
													th:text="${lectureSubject.lectureSubjectName}"></option> -->
											</select>

											<p></p>
											결재내용<textarea type="text"
												th:field="*{approvalContent}" placeholder="결재내용"
												class="form-control" style="resize: none;"></textarea>
											<p></p>

											담당강사명 <select name="language" th:field="*{userId}"
												class="form-control">
												<option value="">담당강사명</option>
												<option th:each="teacher : ${teacherList}"
													th:value="${teacher.userId}" th:text="${teacher.userName}"></option>
											</select>

											<p></p>

											강의시즌 <select id="season" name="language"
												th:field="*{seasonId}" class="form-control">
												<option value="" selected>강의시즌</option>
												<option th:each="season : ${seasonList}"
													th:value="${season.seasonId}"
													th:text="${season.seasonName}"></option>

											</select>

											<p></p>
											<div class="lecture-day-div">
												요일
												<p></p>
												<input id="mon" type="checkbox" /><label for="mon">월요일</label>
												<input id="tue" type="checkbox" /><label for="tue">화요일</label>
												<input id="wed" type="checkbox" /><label for="wed">수요일</label>
												<input id="thu" type="checkbox" /><label for="thu">목요일</label>
												<input id="fri" type="checkbox" /><label for="fri">금요일</label>
											</div>

											<div id="lecture-time-div">
												시간
												<p></p>

											</div>

											<p></p>

											강의실 <select name="language" th:field="*{lectureRoomNo}"
												class="form-control">
												<option value="0" selected>강의실</option>
												<option th:each="lectureRoom : ${lectureRoomList}"
													th:value="${lectureRoom.lectureRoomNo}"
													th:text="${lectureRoom.lectureRoomNo} +'('+${lectureRoom.studentGrade}+')'"></option>
											</select>


										</div>
										<div class="form-group">
											<textarea rows="5" placeholder="강의내용" class="form-control"
												th:field="*{lectureContent}"></textarea>

											<p></p>

											강의상태 <select name="language" th:field="*{lectureStateCode}"
												class="form-control">
												<option value="" selected>강의상태</option>
												<option th:each="lectureState : ${lectureStateList}"
													th:value="${lectureState.lectureStateCode}"
													th:text="${lectureState.lectureStateName}"></option>

											</select> <input type="submit" value="등록"
												class="btn btn-primary btn-sm px-4 mt-3 float-right mb-0"
												id="lecture-update-btn" style="margin-left: 10px;">
											<button
												class="btn btn-primary btn-sm px-4 mt-3 float-right mb-0"
												onclick="location.href='/getManagerLectureList'">취소</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<!--  강의등록칸 종료 -->
				</div>
			</div>
		</div>
	</div>
</body>
</html>