<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout/defaultLayout">
<head>
<meta charset="UTF-8">
<title>학생정보등록</title>
</head>
<body>
	<div class="page-wrapper">
		<!-- Page Content-->
		<div class="page-content-tab">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="text-center">
							<h4 class="page-title">일정 등록</h4>
						</div>
						<!--end page-title-box-->
					</div>
					<!--end col-->
				</div>

				<!-- 일정 입력칸 시작  -->
				<div class="row">
					<div class="met-profile-main-pic col-lg-4"
						style="display: list-itemflex; margin: auto;">
						<div class="col-lg-4 align-self-center mb-3 mb-lg-0">
						<div class="met-profile-main-pic">
							<img src="img/human.png" alt="" height="100"
								class="rounded-circle"> <span
								class="fro-profile_main-pic-change"><i
								class="fas fa-camera" aria-hidden="true"></i></span>
						</div>
						</div>
					</div>
					<div class="align-self-center  col-lg-12" style="">
						<div class="met-profile-main">

							<div class="met-profile_user-detail"></div>
							<div class="col-lg-4" style="margin: auto;">
								<form class="form-horizontal form-material mb-0">
									<div class="form-group">
										<input type="text" placeholder="일정제목" class="form-control">
										<p></p>
										<input type="date" placeholder="일정시작" class="form-control">
										<p></p>
										<input type="date" placeholder="일정종료" class="form-control">
										<p></p>
									</div>
									<div class="form-group">
										<textarea rows="5" placeholder="일정내용" class="form-control"></textarea>
										<button
											class="btn btn-primary btn-sm px-4 mt-3 float-right mb-0">등록</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!--  일정입력칸 종료 -->

			</div>
		</div>
	</div>
</body>
</html>