<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout/popupLayout">
<head>
<meta charset="UTF-8">
<title>등록 완료창</title>
<script language="javascript">
//버튼클릭시 javascript 호출합니다.
function javascript(){
    self.close();   //자기자신창을 닫습니다.
}
</script>
</head>
<body> 
	<h4>학생 등록이 완료되었습니다.</h4>
		<input class="btn btn-primary btn-sm px-4 mt-3 float-right mb-0" type='button' onclick='javascript()' value='창닫기'/>
</body>
</html>