<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Title</title>
<link href="/css/companyStyle.css" rel="stylesheet" type="text/css">
<script th:src="@{https://kit.fontawesome.com/8fe653c8f8.js}" crossorigin="anonymous"></script>
</head>
<body>
	<div class="main-container" id="main_container">


<!--  top navbar  start  -->

		<header class="ng-scope">
			<!-- ngIf: mobile && status.cover_menu -->
			<div class="header_wrapper ng-scope white_header">
				<div class="boot_container plr15 header_container">
					<div class="header_table">
						<div class="header_td logo_wrapper">
							<a href="/" ><img
								class="bootpay_logo" 
								src="img/logo.png"></a>
						</div>
						<div class="header_td menu_wrapper">
							<div class="main_menu menu_hide" id="main_menu">
								<ul class="menu_ul">
									<li class="menu_li ng-scope selected menu_hide">살펴보기</li>
									<li class="menu_li ng-scope menu_hide">PG 가입하기</li>
									<li class="menu_li ng-scope menu_hide">결제 연동하기</li>
									<li class="menu_li ng-scope menu_hide">데이터 분석</li>
									<li class="menu_li ng-scope menu_hide">가맹점관리</li>
									<li class="menu_li ng-scope menu_hide">도움말</li>
								</ul> 
							</div>
						</div>
						<div class="header_td login_wrapper">
							
							<!-- ngIf: !mobile -->
							<a class="login_link white_link ng-scope"
								href="/login"
								title="서비스 로그인하기"> 로그인&nbsp; &nbsp; &nbsp;<i class="fas fa-arrow-right"></i></a>
						</div>
					</div>
				</div>
			</div>
		</header>

<!--  top navbar  end  -->


		<ng-view class="ng-scope">
		<div class="common_wrapper reseller_index ng-scope"
			ng-class="{mobile: mobile}">
			<div class="boot_section section_1">
				<div class="boot_container boot_medium">
					<div class="blank_80"></div>
					<!-- ngIf: !mobile -->
					<div class="blank_70 ng-scope" ng-if="!mobile"></div>
					<!-- end ngIf: !mobile -->
					<div class="sec_table" ng-class="{mobile: mobile}">
						<div class="sec_td td_info">
							<div class="boot_title fw300">
								플랫폼에 입점한<br>모든 가맹점의&nbsp;
								<!-- ngIf: mobile -->
								<span class="fw700">데이터를&nbsp;</span>
								<!-- ngIf: !mobile -->
								<br ng-if="!mobile" class="ng-scope">
								<!-- end ngIf: !mobile -->
								<span class="fw700">관리할 수 있는 통합 전산</span><span>을</span><br>
								<span>제공합니다.</span>
							</div>
						</div>
						<div class="sec_td td_img">
							<img class="img_1_capture" src="/img/1_capture.png">
						</div>
					</div>
				</div>
			</div>
			<div class="boot_section section_2">
				<div class="boot_container boot_narrow">
					<div class="sec_table mobile">
						<div class="sec_td td_info">
							<div class="sec_title">운영진 관리</div>
							<div class="sec_text">통합 전산을 여러 운영자가 이용할 수 있습니다. 운영자별로 특정
								메뉴만 이용할 수 있도록 권한을 부여할 수 있습니다.</div>
						</div>
						<div class="sec_td td_img">
							<img class="img_2_1" src="/img/2_1.svg">
						</div>
					</div>
					<div class="sec_table mobile">
						<div class="sec_td td_info">
							<div class="sec_title">가맹점 관리</div>
							<div class="sec_text">
								가맹점들의 정보와 이슈를 관리하는 메뉴입니다. 권한을 보유한 운영진들은<br>가맹점별로 로그인을 하여
								지표를 살펴볼 수 있습니다. 이를 바탕으로 가맹점들에게<br>생성되는 분기별, 연도별 리포트에 대해
								추가적인 코멘트를 작성 할 수 있습니다.
							</div>
						</div>
						<div class="sec_td td_img">
							<img class="img_2_1" src="/img/2_2.svg">
						</div>
					</div>
					<div class="sec_table mobile">
						<div class="sec_td td_info">
							<div class="sec_title">가맹점 비교</div>
							<div class="sec_text">
								자주 모니터링하는 스타 가맹점을 즐겨찾기 할 수 있으며, 그룹화된 가맹점들을<br>비교 분석할 수 있는
								메뉴입니다. 주로 지표가 비슷한 가맹점들끼리 그룹 후 비교분석하여, 이를 바탕으로 인사이트를 얻어 가맹점들에게
								컨설팅하기 위한 용도로 사용합니다.
							</div>
						</div>
						<div class="sec_td td_img">
							<img class="img_2_1" src="/img/2_3.svg">
						</div>
					</div>
					<div class="sec_table mobile">
						<div class="sec_td td_info">
							<div class="sec_title">가맹점 차트</div>
							<div class="sec_text">지표별로 실적이 좋은/나쁜 가맹점들을 검색하여 볼 수 있습니다.
								앱스토어 인기 앱 300위와 유사한 메뉴라고 보시면 됩니다.</div>
						</div>
						<div class="sec_td td_img">
							<img class="img_2_1" src="/img/2_4.svg">
						</div>
					</div>
					<div class="sec_table mobile">
						<div class="sec_td td_info">
							<div class="sec_title">인기 가맹점</div>
							<div class="sec_text">
								실시간 급상승/급하락 가맹점들을 볼 수 있습니다. 이벤트를 진행하는 업체나, 이탈하는<br>업체들에 대해
								기술적/운영적으로 대처하기 위한 메뉴로 활용됩니다.
							</div>
						</div>
						<div class="sec_td td_img">
							<img class="img_2_1" src="/img/2_5.svg">
						</div>
					</div>
					<div class="blank_50"></div>
					<div class="text-center">
						<div class="boot_text comment sec_text_round">
							<span class="span_blue">가입 후 별도로 문의주시면 무료로 이용할 수 있습니다.</span>
						</div>
					</div>
					<div class="blank_120"></div>
				</div>
			</div>
		</div>
		</ng-view>
		<!-- ngInclude: 'layouts/footer.html' -->
		<footer ng-include="'layouts/footer.html'" class="ng-scope">
			<div class="boot_section footer_section ng-scope">
				<div class="boot_container boot_narrow">
					<div class="row">
						<div class="col-xs-12 logo_wrapper">
							<img class="img_9_logo" src="/assets/logo/bootpay_gray">
						</div>
						<div class="col-xs-12 info_wrapper">
							<div class="row">
								<div class="col-xs-12 col-md-6 address_wrapper">
									<p class="boot_text sec_9_text">
										(주)부트페이&nbsp;&nbsp;|&nbsp;&nbsp;사업자 등록번호
										618-87-00495&nbsp;&nbsp;|&nbsp;&nbsp;대표 윤태섭<br>서울시 금천구
										벚꽃로 286, 507-293호 | bootpay.co.kr@gmail.com
									</p>
								</div>
								<div class="col-xs-6 col-md-3">
									<span class="fw700">CONTACT</span>
									<div class="blank_5"></div>
									<p class="boot_text sec_9_text">
										TEL.&nbsp;<span class="sec_9_text">1599-4062</span><br>FAX.&nbsp;<span
											class="sec_9_text">02-6008-9760</span>
									</p>
								</div>
								<div class="col-xs-6 col-md-3">
									<span class="fw700">LINKS</span>
									<div class="blank_5"></div>
									<p class="boot_text sec_9_text">
										<span class="sec_9_text"><a
											href="https://admin.bootpay.co.kr" title="부트페이 관리자">부트페이
												관리자</a></span><br>
										<span class="sec_9_text"><a
											href="https://docs.bootpay.co.kr" title="부트페이 개발문서">부트페이
												개발문서</a></span>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
</body>
</html>