<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>원장메인</title>
</head>
<body>
<h1>원장의 메인페이지 입니다.</h1>
<h4>강사관리</h4>
<a href="/getManagerInfo">내정보보기</a><br>
<a href="/getTeacherList">강사목록</a><br>
<a href="/getManagerTeacherTimeCard">강사출퇴근부</a><br><br>

<h4>학생관리</h4>
<a href="#">학생목록</a><br>
<a href="#">등하원기록부</a><br>
<a href="#">성적관리</a><br><br>
<h4>강의관리</h4>
<a href="/getManagerLectureList">강의목록</a><br><br>
<h4>일정관리</h4>
<a href="#">학원일정</a><br>
<a href="#">강의일정</a><br>
<a href="#">나의일정</a><br><br>
<h4>결재관리</h4>
<a href="/getManagerApprovalList">결재목록</a>
<h4>회계관리</h4>
<a href="#">수입</a><br>
<a href="#">지출</a><br>
<a href="#">비품</a><br>

</body>
</html>