<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout/managerLayout">
<head>
<script th:src="@{https://canvasjs.com/assets/script/canvasjs.min.js}"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>

	<div layout:fragment="content">

		<div class="page-wrapper">
			<!-- Page Content-->
			<div class="page-content-tab">
				<div class="container">

						<!-- 공간   -->
						<div class="row">
							<div class="col-sm-12">
								<div class="page-title-box">
									<h2 class="page-title">원장메인</h2>
									<hr>
								</div>
							</div>
						</div>	
						
							<!-- row -->
							<div class="row">
								<div class="col-12">
									<div class="card">
										<div class="card-body">
											<h4>선생별 최근 6개월 수입 통계</h4>
											<br><br><br>
											
											<div id="monthlyIncomeChart" class="monthlyIncomeChart"></div>
										</div>
									</div>
								</div>
							</div>
						
							<!-- row -->

							<!-- row -->
							<div class="row">
								<div class="col-12">
									<div class="card">
										<div class="card-body">
											<h5 class="page-title">정원이 남은 강의</h5>
											<hr>
											<table id="datatable" class="table dataTable no-footer"
												role="grid" aria-describedby="datatable_info">
												<thead class="thead-light">
													<tr role="row">
														<th class="" tabindex="0" aria-controls="datatable"
															rowspan="1" colspan="1" aria-sort="ascending"
															aria-label="Lead: activate to sort column descending"
															style="width: 40px;">번호</th>
														<!-- <th>결재번호</th> -->
														<th class="" tabindex="0" aria-controls="datatable"
															rowspan="1" colspan="1" aria-sort="ascending"
															aria-label="Lead: activate to sort column descending"
															style="width: 40px;">강의명</th>
														<th class="" tabindex="0" aria-controls="datatable"
															rowspan="1" colspan="1" aria-sort="ascending"
															aria-label="Lead: activate to sort column descending"
															style="width: 40px;">강사명</th>
														<th class="" tabindex="0" aria-controls="datatable"
															rowspan="1" colspan="1" aria-sort="ascending"
															aria-label="Lead: activate to sort column descending"
															style="width: 40px;">강의과목</th>
														<th class="" tabindex="0" aria-controls="datatable"
															rowspan="1" colspan="1" aria-sort="ascending"
															aria-label="Lead: activate to sort column descending"
															style="width: 40px;">학생수</th>
														<th class="" tabindex="0" aria-controls="datatable"
															rowspan="1" colspan="1" aria-sort="ascending"
															aria-label="Lead: activate to sort column descending"
															style="width: 40px;">정원</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="lecture : ${lectureList}">
														<td th:text="${lectureStat.count}"></td>
														<td><a th:href="'/getLectureInfo/' + ${lecture.lectureCode}" 
															th:text="${lecture.lectureName}"></a></td>
														<td th:text="${lecture.userName}"></td>
														<td th:text="${lecture.lectureSubjectName}"></td>
														<td th:text="${lecture.studentCount}"></td>
														<td th:text="${lecture.capacity}"></td>
													</tr>
												</tbody>
											</table>
										</div>

									</div>
								</div>
							</div>
							<!-- row -->

							<!-- row -->

							<div class="row">
								<div class="col-12">
									<div class="card">
										<div class="card-body">
											<h5 class="page-title">
												결재목록<a th:href="@{/manager/getManagerApprovalList}"
													style="float: right;"> 더보기</a>
											</h5>
											<hr>
											<table id="datatable" class="table dataTable no-footer"
												role="grid" aria-describedby="datatable_info">
												<thead class="thead-light">
													<tr role="row">
														<th class="" tabindex="0" aria-controls="datatable"
															rowspan="1" colspan="1" aria-sort="ascending"
															aria-label="Lead: activate to sort column descending"
															style="width: 40px;">번호</th>
														<!-- <th>결재번호</th> -->
														<th class="" tabindex="0" aria-controls="datatable"
															rowspan="1" colspan="1" aria-sort="ascending"
															aria-label="Lead: activate to sort column descending"
															style="width: 40px;">결재종류</th>
														<th class="" tabindex="0" aria-controls="datatable"
															rowspan="1" colspan="1" aria-sort="ascending"
															aria-label="Lead: activate to sort column descending"
															style="width: 40px;">결재상태</th>
														<th class="" tabindex="0" aria-controls="datatable"
															rowspan="1" colspan="1" aria-sort="ascending"
															aria-label="Lead: activate to sort column descending"
															style="width: 40px;">신청자</th>
														<th class="" tabindex="0" aria-controls="datatable"
															rowspan="1" colspan="1" aria-sort="ascending"
															aria-label="Lead: activate to sort column descending"
															style="width: 40px;">신청내용</th>
														<th class="" tabindex="0" aria-controls="datatable"
															rowspan="1" colspan="1" aria-sort="ascending"
															aria-label="Lead: activate to sort column descending"
															style="width: 40px;">신청일자</th>
													</tr>
												</thead>

												<tbody id="approval-list">
													<tr th:each="approval : ${approvalList}">
														<td th:text="${approvalStat.count}"></td>
														<td th:text="${approval.approvalTypeName}"></td>
														<td class="approval-state"
															th:text="${approval.approvalStateName}"></td>
														<td th:text="${approval.userName}"></td>
														<td><a class="approval-modal"
															th:data-no="${approval.approvalNo}"
															th:data-mfp-src="'#' + ${approval.approvalNo}"
															th:text="${approval.approvalContent}"></a></td>
														<td th:text="${approval.approvalRegisterDate}"></td>
													</tr>

												</tbody>

											</table>


										</div>
									</div>
								</div>
							</div>
							<!-- row -->

				


				</div>
			</div>
		</div>
		<script th:src="@{/js/manager/manager.js}" ></script>
	</div>
	<!-- content End -->
</body>
</html>