<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>강사메인</title>
</head>
<body>
<h4>강의관리</h4>
<a href="/getTeacherLectureList">강의목록</a><br>

<h4>학생관리</h4>
<a href="#">학생목록</a><br>
<a href="#">등하원기록부</a><br>
<a href="#">성적관리</a><br>

<h4>일정관리</h4>
<a href="#">학원일정</a><br>
<a href="#">강의일정</a><br>
<a href="#">나의일정</a><br>

<h4>결재관리</h4>
<a href="/insertApproval">결재신청</a><br>
<a href="/getTeacherApprovalList">나의결재목록</a><br>
<a href="/getTeacherTimeCard">나의출퇴근목록</a><br>



</body>
</html>