<meta charset="utf-8">
<script th:src="@{/css/bootstrap.min.css}" ></script>
<script th:src="@{/css/buttons.bootstrap4.min.css}" ></script>
<script th:src="@{/css/dataTables.bootstrap4.min.css}" ></script>
<script th:src="@{/css/icons.min.css}" ></script>
<script th:src="@{/css/mainMenu.min.css}" ></script>
<script th:src="@{/css/responsive.bootstrap4.min.css}" ></script>
<script th:src="@{/css/app.css}" ></script>
<script th:src="@{/css/style.css}" ></script>
<script th:src="@{/css/metisMenu.min.css}" ></script>
<script th:src="@{/css/editPageStyle.css}" ></script>
<script th:src="@{/css/insertPageStyle.css}" >  </script>
<script th:src="@{/css/magnific-popup.css}" ></script>

<script src="https://kit.fontawesome.com/8fe653c8f8.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:src="@{js/lib/micromodal.min.js}" type="text/javascript"></script>
<script th:src="@{js/lib/magnific-popup.js}" type="text/javascript"></script>
