<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>
	<th:block th:replace="~{layout/header}"/>
	<script th:src="@{/js/managerNavScript.js}" type="text/javascript"></script>
</head>

<body>
<th:block th:replace="~{layout/managerNavBar :: topNavBar}"/>
<th:block th:replace="~{layout/managerNavBar :: leftNavBar}"/>

<div layout:fragment="content"></div>

<footer th:replace="~{layout/footer :: footer}">
</footer>


</body>

</html>