<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<title>Insert title here</title>
</head>
<body>

	<div class="topbar" th:fragment="topNavBar">

	
				
	
		<!-- Navbar -->
		<nav class="navbar-custom">
			<ul class="list-unstyled topbar-nav float-right mb-0 profile-area">
				<li class="dropdown notification-list"><a 
					class="nav-link dropdown-toggle arrow-none" data-toggle="dropdown"
					href="#" role="button" aria-haspopup="false" aria-expanded="false">
					<i class="far fa-bell fa-2x noti-icon"></i></a>
				<div class="dropdown-menu dropdown-menu-right dropdown-lg py-0">
						<h6
							class="dropdown-item-text font-15 m-0 py-3 bg-light text-dark d-flex justify-content-between align-items-center">
							Notifications <span class="badge badge-primary badge-pill">2</span>
						</h6>
						<div class="slimScrollDiv"
							style="position: relative; overflow: hidden; width: auto; height: 969px;">
							<div class="slimscroll notification-list"
								style="overflow: hidden; width: auto; height: 969px;">
								<!-- item-->
								<a href="#" class="dropdown-item py-3"><small
									class="float-right text-muted pl-2">2 min ago</small>
								<div class="media">
										<div class="avatar-md bg-soft-primary">
											<i class="la la-cart-arrow-down"></i>
										</div>
										<div class="media-body align-self-center ml-2 text-truncate">
											<h6 class="my-0 font-weight-normal text-dark">Your order
												is placed</h6>
											<small class="text-muted mb-0">Dummy text of the
												printing and industry.</small>
										</div>
										<!--end media-body-->
									</div>
									<!--end media--> </a>
							
							
							</div>
							<div class="slimScrollBar"
								style="background: rgba(162, 177, 208, 0.13); width: 7px; position: absolute; top: 0px; opacity: 1; display: block; border-radius: 7px; z-index: 99; right: 1px;"></div>
							<div class="slimScrollRail"
								style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
						</div>
						<!-- All-->
						<a href="javascript:void(0);"
							class="dropdown-item text-center text-primary bg-light">View
							all <i class="fi-arrow-right"></i>
						</a>
					</div></li>
					
					
				<li class="dropdown"><a
					class="nav-link dropdown-toggle nav-user" data-toggle="dropdown"
					href="javascript:void(0)" role="button" aria-haspopup="false" aria-expanded="false"><img
						src="/img/human.png" alt="profile-user"
						class="rounded-circle">
						 
						 
						  <th:block th:if=" ${#authentication.Principal.authorityCode} == 1">
								<span th:text="${#authentication.Principal.userName} + '원장님'"
								class="ml-1 nav-user-name hidden-sm">Robert</span> 
						</th:block>
						 
						 <th:block th:if=" ${#authentication.Principal.authorityCode} == 2">
								<span th:text="${#authentication.Principal.userName} + '&nbsp; 강사님'"
								class="ml-1 nav-user-name hidden-sm">Robert </span>
						</th:block>
						
							 <th:block th:if=" ${#authentication.Principal.authorityCode} == 3">
								<span th:text="${#authentication.Principal.userName} + '님'"
								class="ml-1 nav-user-name hidden-sm">Robert </span>
						</th:block>
						</a>
						
						
						
				<div class="dropdown-menu dropdown-menu-right" style="">
						<a class="dropdown-item" th:href=" ${#authentication.Principal.authorityCode} == 1 ? @{/manager/getManagerInfo} :
															( ${#authentication.Principal.authorityCode} == 2 ?
															@{/teacher/getTeacherMyInfo} :
															@{/teacher/getStudentInfo/{userId}(userId = ${#authentication.Principal.userId} )} ) "><i
							class="dripicons-user text-muted mr-2"></i> 내 정보</a> <a
							class="dropdown-item" href=""><i
							class="dripicons-wallet text-muted mr-2"></i> 내 강의</a> 
						<div class="dropdown-divider"></div>
						<a class="dropdown-item bg-light" th:href="@{/logout}"><i
							class="dripicons-exit text-muted mr-2"></i> 로그아웃</a>
					</div></li>
			</ul>
			<!--end topbar-nav-->
			<ul class="list-unstyled topbar-nav mb-0">
				
				<li class="hide-phone app-search"><div role="search" class="">
						<input type="text" id="AllCompo" placeholder="Search..."
							class="form-control ui-autocomplete-input" autocomplete="off">
						<a href=""><i class="fas fa-search"></i></a>
					</div></li>
			</ul>
		</nav>
		<!-- end navbar-->
	
	</div>



<!--  topBar END -->




<!--  LEFT NAVBAR START -->

<th:block th:fragment="leftNavBar(boardGroupList)">
	<div class="leftbar-tab-menu mm-active active" >
		<div class="main-icon-menu in mm-show">
			<a th:with="auth = ${#authentication.Principal.authorityCode}" 
			   th:href="${auth} == 1 ? @{/manager/managerIndex} :
						( ${auth} == 2 ? @{/teacher/teacherIndex} : @{/board/postList/ } ) "
				class="logo logo-metrica d-block text-center"><span><img
					th:src="@{/img/logo-img.png}" alt="logo-small" class="logo-sm"></span></a>
			<nav class="nav">
				<a th:with="auth = ${#authentication.Principal.authorityCode}" 
				   th:id="${auth} == 1 ? manager :
						( ${auth} == 2 ? teacher : student )" 
					href="javascript:void(0)"  class="nav-link leftbar-tab-icon" >
				<i class="fas fa-book"></i></a>
				
				<!--end MetricaCRM-->
				<a href="javascript:void(0)" class="nav-link leftbar-tab-icon" >
				<i class="fas fa-tasks"></i></a>
				
				
				<!--end MetricaPages-->
				<a href="javascript:void(0)" id ="board" class="nav-link leftbar-tab-icon active">
				<i class="fas fa-chalkboard-teacher"></i></a>
				<!--end MetricaAuthentication-->
			</nav>
			<!--end nav-->
			
		</div>
		<!--end main-icon-menu-->
		<div class="main-menu-inner active">
			<!-- LOGO -->
			<div class="topbar-left">
				<a  th:with="auth = ${#authentication.Principal.authorityCode}" 
			   		th:href="${auth} == 1 ? @{/manager/managerIndex} :
							( ${auth} == 2 ? @{/teacher/teacherIndex} : @{/board/postList/ } ) " class="logo">
				<span><img th:src="@{/img/logo-signature.png}" alt="logo-large" class="logo-lg logo-dark"> </span></a>
			</div>
			<!--end logo-->
			<div class="slimScrollDiv mm-active active"
				style="position: relative; overflow: hidden; width: auto; height: 969px;">
				<div class="menu-body slimscroll mm-show"
					style="overflow: hidden; width: auto; height: 969px;">
					
					
			
			<!-- 강의별 게시판 그룹, 게시판 List Start -->
				<div th:each="boardGroupList : ${boardGroupList}" id="MetricaApps"
					class="main-icon-menu-pane active">
					<input th:value="${boardGroupList.lectureCode}" type="hidden" class="hidden-lectureCode">
					<div class="title-box">
						<div th:if="${#authentication.Principal.authorityCode} != 3" class="group_icon lecture" >			
							 <a href="#" data-mfp-src=".insertBoardGroupContainer"
									class="insertPage-popup-link popup-link insert-board-group"> 
									<i class="fas fa-plus group_plus"></i>
							</a>
						</div>	
						
						
						<h6 th:text="${boardGroupList.lectureName}" class="menu-title edit-able">[엄쌤]
							익석이조: 문학,독서 휘어잡기</h6>
					</div>
					<ul 
						class="nav metismenu">
						<!--end nav-item-->
						<li th:each="boardGroup: ${boardGroupList.boardGroup}" class="nav-item mm-active active">
						
						<span class="nav-link-more-group" th:if="${not boardGroup.board.isEmpty()}">
								<i class="fas fa-chevron-right"></i>
						 </span>
				<th:block th:if=" ${ #authentication.Principal.authorityCode != '3' } ">
					<div class="group_icon">			
						 <a href="#" data-mfp-src=".insertBoardContainer"
								class="insertPage-popup-link popup-link insert-board"> 
								<i class="fas fa-plus group_plus"></i>
						</a>
						
						<a href="#" data-mfp-src=".editBoardGroupPanelWrapper"
								class="editBoardGroup-popup-link popup-link"> <i
								class="fas fa-ellipsis-h"></i>
							</a>
					</div>	
				</th:block>		
						
						<a th:text="${boardGroup.boardGroupName}" th:data="${boardGroup.boardGroupNo}" 
						class="nav-link edit-able board-group" href="javascript: void(0);" aria-expanded="true"> </a>								
								
							
								
								
							<ul class="nav-second-level mm-collapse mm-show"
								aria-expanded="false" style="">
								<li th:each="board : ${boardGroup.board}">
								<a th:text="${board.boardName}" 
								th:data-board-no="${board.boardNo}"
								th:href="@{/board/postList/{boardNo}(boardNo=${board.boardNo})}">5월 문법노트+독서노트</a></li> 
								
								<!-- <a th:text="${board.boardName}" th:href="@{/postList(boardNo=${board.boardNo})}">5월 문법노트+독서노트</a></li> -->
							</ul></li>
					</ul>
				</div>
			<!-- 강의별 게시판 그룹, 게시판 List End -->



<!--  <div th:replace="~{common/board/fragment/editPage :: editPage}"></div> -->

<script th:src="@{/js/lib/micromodal.min.js}" type="text/javascript"></script>
<script th:src="@{/js/lib/magnific-popup.js}" type="text/javascript"></script>
<script th:src="@{/js/navScript.js}"></script>

<!-- 모달창  -->
<div th:replace="~{/common/board/fragment/editPage :: editPage}"></div>
<div th:replace="~{/common/board/fragment/insertBoardGroup :: insertBoardGroup}"></div>
<div th:replace="~{/common/board/fragment/insertBoard :: insertBoard}"></div>

					
					
					
				</div>
				<div class="slimScrollBar"
					style="background: rgba(162, 177, 208, 0.13); width: 7px; position: absolute; top: 0px; opacity: 1; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 901px;"></div>
				<div class="slimScrollRail"
					style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
			</div>
			<!--end menu-body-->
		</div>
		<!-- end main-menu-inner-->
	</div>

</th:block>



</body>
</html>