<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>
	<th:block th:replace="~{layout/header}"/>
	
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript" src="/js/lib/magnific-popup.js"></script>

</head>

<body>
<th:block th:replace="~{layout/navbar :: topNavBar}"/>
<th:block th:replace="~{layout/teacherNavBar :: leftNavBar}"/>

<div layout:fragment="content"></div>

<footer th:replace="~{layout/footer :: footer}">
</footer>


</body>

</html>