<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>
	<th:block th:replace="~{layout/header}"/>
	<script th:src="@{/js/teacherNavScript.js}" type="text/javascript"></script>
</head>

<body>

<th:block th:replace="~{layout/teacherNavBar :: topNavBar}"/>
<th:block th:replace="~{layout/teacherNavBar :: leftNavBar}"/>

<div layout:fragment="content"></div>

<footer th:replace="~{layout/footer :: footer}"/>


</body>

</html>