<!-- <!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>강사-전체강의목록</title>
</head>
<body>
<h1>강사의 전체강의목록페이지 입니다.</h1>
</body>
</html> -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout/teacherLayout">
<title>강사-전체강의목록</title>
<head>
<link href="/css/boardStyle.css" rel="stylesheet" type="text/css">
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script type="text/javascript" src="/js/lectureList.js"></script>
</head>
<body>

	<div layout:fragment="content">

		<div class="page-wrapper">
			<!-- Page Content-->
			<div class="page-content-tab">
				<div class="container">

					<!-- 공간   -->
					<div class="row">
						<div class="col-sm-12">
							<div class="page-title-box">
								<h2 class="page-title">강의목록</h2>
							</div>

							<div class="row">
								<div class="col-12">
									<div class="card">
										<div class="card-body">

											<!-- <div style="margin-bottom: 50px;">
												<button type="button"
													class="btn btn-primary waves-effect waves-light float-right mb-3"
													data-toggle="modal" data-animation="bounce"
													data-target=".bs-example-modal-lg"
													onclick="location.href='/goInsertLecture'">+ 강의등록</button>
											</div>
 -->

											<div class="table-responsive dash-social">
												<div id="datatable_wrapper"
													class="dataTables_wrapper dt-bootstrap4 no-footer">

													<div class="row">
														<div class="col-sm-12 col-md-6">
															<div class="dataTables_length" id="datatable_length">
																<select name="lectureList" id="lecture-state-type"
																	style="width: 85px; font-size: 15px; margin-bottom: 20px;">
																	<option value="전체">전체</option>
																	<option th:each="state : ${lectureStateList}"
																		th:value="${state.lectureStateName}"
																		th:text="${state.lectureStateName}"
																		th:selected="${state.lectureStateName} == ${lectureState}"></option>
																</select>
															</div>
														</div>
														<!-- <div class="col-sm-12 col-md-6">
															<div id="datatable_filter" class="dataTables_filter">
																<label>검색:<input type="search"
																	class="form-control form-control-sm"
																	placeholder="검색어를입력하세요"></label>
															</div>
														</div> -->
													</div>

													<div class="row">
														<div class="col-sm-12">
															<table id="datatable" class="table dataTable no-footer"
																role="grid" aria-describedby="datatable_info">
																<thead class="thead-light">
																	<tr role="row">
																		<th class="" tabindex="0" aria-controls="datatable"
																			rowspan="1" colspan="1" aria-sort="ascending"
																			aria-label="Lead: activate to sort column descending"
																			style="width: 40px;">번호</th>
																		<th class="" tabindex="0" aria-controls="datatable"
																			rowspan="1" colspan="1" aria-sort="ascending"
																			aria-label="Lead: activate to sort column descending"
																			style="width: 100px;">강의코드</th>
																		<th class="" tabindex="0" aria-controls="datatable"
																			rowspan="1" colspan="1"
																			aria-label="Email: activate to sort column ascending"
																			style="width: 160px;">강의명</th>
																		<th class="" tabindex="0" aria-controls="datatable"
																			rowspan="1" colspan="1" aria-sort="ascending"
																			aria-label="Lead: activate to sort column descending"
																			style="width: 80px;">개설일</th>
																		<th class="" tabindex="0" aria-controls="datatable"
																			rowspan="1" colspan="1"
																			aria-label="Phone No: activate to sort column ascending"
																			style="width: 80px;">종료일</th>
																		<th class="" tabindex="0" aria-controls="datatable"
																			rowspan="1" colspan="1"
																			aria-label="Company: activate to sort column ascending"
																			style="width: 95px;">강의상태</th>
																		<th class="" tabindex="0" aria-controls="datatable"
																			rowspan="1" colspan="1"
																			aria-label="Status: activate to sort column ascending"
																			style="width: 90px;">수강인원</th>
																		<th class="" tabindex="0" aria-controls="datatable"
																			rowspan="1" colspan="1"
																			aria-label="Action: activate to sort column ascending"
																			style="width: 90px;">강의대상</th>
																		<th class="" tabindex="0" aria-controls="datatable"
																			rowspan="1" colspan="1" aria-sort="ascending"
																			aria-label="Lead: activate to sort column descending"
																			style="width: 90px;">담당강사</th>
																		<th class="" tabindex="0" aria-controls="datatable"
																			rowspan="1" colspan="1" aria-sort="ascending"
																			aria-label="Lead: activate to sort column descending"
																			style="width: 100px;">강의실(호)</th>
																		<th class="" tabindex="0" aria-controls="datatable"
																			rowspan="1" colspan="1" aria-sort="ascending"
																			aria-label="Lead: activate to sort column descending"
																			style="width: 125px;">강의시즌</th>
																	</tr>
																	<!-- end tr -->
																</thead>
																<tbody>
																	<tr th:each="lecture : ${lectureList}">
																		<td th:text="${lectureStat.count}"></td>
																		<td th:text="${lecture.lectureCode}"></td>
																		<td><a
																			th:href="'/getLectureInfo/'+${lecture.lectureCode}"
																			th:text="${lecture.lectureName}"></a></td>
																		<td th:text="${lecture.lectureStartDate}"></td>
																		<td th:text="${lecture.lectureFinishDate}"></td>
																		<td th:text="${lecture.lectureStateName}"></td>
																		<td th:text="${lecture.capacity}"></td>
																		<td th:text="${lecture.studentGrade}"></td>
																		<td><a
																			th:href="'/getTeacherInfo/'+${lecture.userName}"
																			th:text="${lecture.userName}"></a></td>
																		<td th:text="${lecture.lectureroomNo}"></td>
																		<td th:text="${lecture.seasonName}"></td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>

												</div>
											</div>
										</div>
										<!-- end card-body -->
									</div>
									<!-- end card -->
								</div>
								<!-- end col -->
							</div>
							<!-- end row -->
						</div>


						<!-- <div class="float-right">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="javascript:void(0);">Metrica</a></li>
								<li class="breadcrumb-item"><a href="javascript:void(0);">CRM</a></li>
								<li class="breadcrumb-item active">Leads</li>
							</ol>
						</div> -->

					</div>
					<!-- end page-title-box -->
				</div>
				<!-- end col -->
			</div>



			<footer class="footer text-center text-sm-left">
				© 2020 Metrica <span
					class="text-muted d-none d-sm-inline-block float-right">Crafted
					with <i class="mdi mdi-heart text-danger"></i> by Mannatthemes
				</span>
			</footer>
			<!-- end footer -->
		</div>
		<!-- end page content -->
	</div>
	<!-- 공간  end -->
</body>
</html>