<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout/managerLayout">
<head>
<link href="/css/boardStyle.css" rel="stylesheet" type="text/css">
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="/js/lecture.js"></script>
</head>
<body>

	<div layout:fragment="content">

		<div class="page-wrapper">
			<!-- Page Content-->
			<div class="page-content-tab">
				<div class="container">

					<!-- 공간   -->
					<div class="row">
						<div class="col-sm-12">
							<div class="page-title-box">
								<h2 class="page-title" th:text="${lecture.lectureName}"></h2>
								<input id="lecture-code" type="hidden" th:value="${lecture.lectureCode}">
							</div>
							<!--end page-title-box-->
						</div>
						<!--end col-->
					</div>
					<div class="row">
						<div class="met-profile-main-pic col-lg-4"
							style="display: list-itemflex; margin: auto;">
							<div class="col-lg-4 align-self-center mb-3 mb-lg-0">
								<div class="met-profile-main-pic"></div>
							</div>
						</div>
						<div class="align-self-center  col-lg-12" style="">
							<div class="met-profile-main">

								<div class="met-profile_user-detail"></div>
								<div class="col-lg-4" style="margin: auto;">

									<button type="button" id="lecture-delete-btn"
										class="btn btn-primary waves-effect waves-light float-right mb-3"
										data-toggle="modal" data-animation="bounce"
										data-target=".bs-example-modal-lg">강의삭제</button>
									
									<button type="button" id="lecture-memeber-btn"
										class="btn btn-primary waves-effect waves-light float-right mb-3"
										data-toggle="modal" data-animation="bounce"
										data-target=".bs-example-modal-lg">강의학생</button>
										
									<input id="lecture-code" type="hidden" th:value="${lecture.lectureCode}">

									<form class="form-horizontal form-material mb-0">
										<div class="form-group">
											<p>강의명</p>
											<input type="text" th:value="${lecture.lectureName}"
												style="width: 35%;">
											<p></p>

											<!-- 드롭다운이어야하는것들 강의시즌, 강의실, 강의대상, 강의시작일,종료일 -->
											<p>강의시즌</p>
											<input type="text" placeholder="강의시즌명"
												th:value="${lecture.seasonName}" style="width: 35%;">
											<p></p>

											<p>강의실</p>
											<input type="text" placeholder="강의명"
												th:value="${lecture.lectureroomNo}" style="width: 35%;">
											<p></p>

											<p>강의시작일</p>
											<input type="text" placeholder="강의시작일"
												th:value="${lecture.seasonStartDate}" style="width: 35%;">
											<p></p>

											<p>강의종료일</p>
											<input type="text" placeholder="강의종료일"
												th:value="${lecture.seasonEndDate}" style="width: 35%;">
											<p></p>

											<p>요일</p>
											<input type="text" placeholder="요일"
												th:value="${lecture.lectureDay}" style="width: 35%;">
											<p></p>

											<p>시작시간</p>
											<input type="text" placeholder="시작시간"
												th:value="${lecture.lectureStartTime}" style="width: 35%;">
											<p></p>

											<p>종료시간</p>
											<input type="text" placeholder="종료시간"
												th:value="${lecture.lectureEndTime}" style="width: 35%;">
											<p></p>

											<p>담당강사명</p>
											<input type="text" placeholder="담당강사명"
												th:value="${lecture.userName}" style="width: 35%;">
											<p></p>

											<p>연락처</p>
											<input type="text" placeholder="연락처"
												th:value="${lecture.userTel}" style="width: 35%;">
											<p></p>

											<p>강의료</p>
											<input type="text" placeholder="강의료"
												th:value="${lecture.lectureCost}" style="width: 35%;">
											<p></p>

											<p>정원</p>
											<input type="text" placeholder="강의명"
												th:value="${lecture.capacity}" style="width: 35%;">
											<p></p>


											<p>강의내용</p>
											<input type="text" placeholder="강의내용"
												th:value="${lecture.lectureContent}" style="width: 35%;">
											<p></p>

										</div>
										<div class="form-group">

											<!-- <input type="submit" value="수정하기" onclick="#">  -->
											<button type="button" id="lecture-update-btn"
												class="btn btn-primary waves-effect waves-light float-left mb-3"
												data-toggle="modal" data-animation="bounce"
												data-target=".bs-example-modal-lg">수정하기</button>

											<button type="button" id="lecture-updatecancel-btn"
												class="btn btn-primary waves-effect waves-light float-left mb-3"
												data-toggle="modal" data-animation="bounce"
												data-target=".bs-example-modal-lg"
												href="/getManagerLectureList" style="margin-left: 10px;">취소하기</button>
											<!-- <input type="button" value="취소하기" onclick="/getManagerLectureList"> -->

										</div>
									</form>
								</div>
								<div class="form-group"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>