<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<meta th:include="/include/meta.html">
</head>
<body class="mm-show">
<div th:include="/include/topbar.html"></div>
<div th:include="/include/teacherNavBar.html"></div>
	<div class="page-wrapper">
		<!-- Page Content-->
		<div class="page-content-tab">
			<div class="container">
				<!-- Page-Title -->
				<div class="row">
					<div class="col-sm-12">
						<div class="page-title-box">
							<div class="float-right">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="javascript:void(0);">Metrica</a></li>
									<li class="breadcrumb-item"><a href="javascript:void(0);">CRM</a></li>
									<li class="breadcrumb-item active">Leads</li>
								</ol>
							</div>
							<h4 class="page-title">Leads</h4>
						</div>
						<!--end page-title-box-->
					</div>
					<!--end col-->
				</div>
				<!-- end page title end breadcrumb -->
				<div class="row">
					<div class="col-lg-4">
						<div class="card">
							<div class="card-body profile-card">
								<div class="media align-items-center">
									<img src="../assets/images/users/user-4.jpg" alt="user" class="rounded-circle thumb-lg">
									<div class="media-body ml-3 align-self-center">
										<h5 class="pro-title">고재현</h5>
										<p class="mb-1 text-muted">중등 영어 단기 1반</p>
									</div>
									<div class="action-btn">
										<a href="#" class="mr-1"><i class="las la-pen font-18 text-info"></i></a> <a href="#" class=""><i class="lar la-trash-alt font-18 text-danger"></i></a>
									</div>
								</div>
							</div>
							<!--end card-body-->
						</div>
						<!--end card-->
					</div>
					<!-- end col-->
					<div class="col-lg-8">
						<div class="row">
							<div class="col-lg-4">
								<div class="card">
									<div class="card-body">
										<div class="row">
											<div class="col-4 align-self-center">
												<div class="icon-info">
													<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users align-self-center icon-md icon-dual-warning">
														<path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
														<circle cx="9" cy="7" r="4"></circle>
														<path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
														<path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
												</div>
											</div>
											<div class="col-8 align-self-center text-right">
												<div class="ml-2">
													<p class="text-dark mb-1 font-weight-semibold font-13">출석인원</p>
													<h4 class="mt-0 mb-1 font-22"> 12/25</h4>
												</div>
											</div>
										</div>
										<div class="progress mt-2" style="height: 3px;">
											<div class="progress-bar bg-warning" role="progressbar" style="width: 55%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
									<!--end card-body-->
								</div>
								<!--end card-->
							</div>
							<!--end col-->
							<div class="col-lg-4">
								<div class="card">
									<div class="card-body">
										<div class="row">
											<div class="col-4 align-self-center">
												<div class="icon-info">
													<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-book-open align-self-center icon-md icon-dual-purple">
														<path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"></path>
														<path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"></path></svg>
												</div>
											</div>
											<div class="col-8 align-self-center text-right">
												<div class="ml-2">
													<div class="ml-2">
														<p class="text-dark mb-1 font-weight-semibold font-13">강의 진행률</p>
														<h4 class="mt-0 mb-1 d-inline-block font-22">12/30</h4>

													</div>
												</div>
											</div>
										</div>
										<div class="progress mt-2" style="height: 3px;">
											<div class="progress-bar bg-purple" role="progressbar" style="width: 39%;" aria-valuenow="39" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
									<!--end card-body-->
								</div>
								<!--end card-->
							</div>
							<!--end col-->
							<div class="col-lg-4">
								<div class="card">
									<div class="card-body">
										<div class="row">
											<div class="col-4 align-self-center">
												<div class="icon-info">
													<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-book align-self-center icon-md icon-dual-pink">
														<path d="M4 19.5A2.5 2.5 0 0 1 6.5 17H20"></path>
														<path d="M6.5 2H20v20H6.5A2.5 2.5 0 0 1 4 19.5v-15A2.5 2.5 0 0 1 6.5 2z"></path></svg>
												</div>
											</div>
											<div class="col-8 align-self-center text-right">
												<div class="ml-2">
													<p class="text-dark mb-1 font-weight-semibold font-13">과제제출</p>
													<h4 class="mt-0 mb-1 d-inline-block font-22">6</h4>
												</div>
											</div>
										</div>
										<div class="progress mt-2" style="height: 3px;">
											<div class="progress-bar bg-pink" role="progressbar" style="width: 48%;" aria-valuenow="48" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
									<!--end card-body-->
								</div>
								<!--end card-->
							</div>
							<!--end col-->
						</div>
						<!--end row-->
					</div>
					<!--end col-->
				</div>
				<!--end row-->
				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-body">
								<button type="button"
									class="btn btn-primary waves-effect waves-light float-right mb-3"
									data-toggle="modal" data-animation="bounce"
									data-target=".bs-example-modal-lg">+ Add New</button>
								<h4 class="header-title mt-0 mb-3">등록된 강의 조회</h4>
								<div class="table-responsive dash-social">
									<div id="datatable_wrapper"
										class="dataTables_wrapper dt-bootstrap4 no-footer">
										<div class="row">
											<div class="col-sm-12 col-md-6">
												<div class="dataTables_length" id="datatable_length">
													<label>필터 <select name="datatable_length"
														aria-controls="datatable"
														class="custom-select custom-select-sm form-control form-control-sm"><option
																value="10">전체</option>
															<option value="25">일자 검색</option>
															<option value="50">선생 검색</option>
															<option value="100">과목 검색</option>
															<option value="100">강의 검색</option>
															<option value="100">연령대 검색</option></select>
													</label>
												</div>
											</div>
											<div class="col-sm-12 col-md-6">
												<div id="datatable_filter" class="dataTables_filter">
													<label>Search:<input type="search"
														class="form-control form-control-sm" placeholder="강의이름/선생이름/연령"
														aria-controls="datatable"></label>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-12">
												<table id="datatable" class="table dataTable no-footer"
													role="grid" aria-describedby="datatable_info">
													<thead class="thead-light">
														<tr role="row">
															<th class="sorting_asc" tabindex="0"
																aria-controls="datatable" rowspan="1" colspan="1"
																aria-sort="ascending"
																aria-label="Lead: activate to sort column descending"
																style="width: 35px;">번호</th>
															<th class="sorting" tabindex="0"
																aria-controls="datatable" rowspan="1" colspan="1"
																aria-label="Email: activate to sort column ascending"
																style="width: 200px;">강의 이름</th>
															<th class="sorting" tabindex="0"
																aria-controls="datatable" rowspan="1" colspan="1"
																aria-sort="ascending"
																aria-label="Lead: activate to sort column descending"
																style="width: 35px;">TEMP</th>
															<th class="sorting" tabindex="0"
																aria-controls="datatable" rowspan="1" colspan="1"
																aria-label="Phone No: activate to sort column ascending"
																style="width: 50px;">상태</th>
															<th class="sorting" tabindex="0"
																aria-controls="datatable" rowspan="1" colspan="1"
																aria-label="Company: activate to sort column ascending"
																style="width: 60px;">정원</th>
															<th class="sorting" tabindex="0"
																aria-controls="datatable" rowspan="1" colspan="1"
																aria-label="Status: activate to sort column ascending"
																style="width: 93px;">강의연령</th>
															<th class="sorting" tabindex="0"
																aria-controls="datatable" rowspan="1" colspan="1"
																aria-label="Action: activate to sort column ascending"
																style="width: 87px;">수강료</th>
															<th class="sorting" tabindex="0"
																aria-controls="datatable" rowspan="1" colspan="1"
																aria-sort="ascending"
																aria-label="Lead: activate to sort column descending"
																style="width: 100px;">강의 시작일</th>
															<th class="sorting" tabindex="0"
																aria-controls="datatable" rowspan="1" colspan="1"
																aria-sort="ascending"
																aria-label="Lead: activate to sort column descending"
																style="width: 100px;">강의 종료일</th>
															<th class="sorting" tabindex="0"
																aria-controls="datatable" rowspan="1" colspan="1"
																aria-sort="ascending"
																aria-label="Lead: activate to sort column descending"
																style="width: 200px;">강의 선생님</th>
														</tr>
														<!--end tr-->
													</thead>
													<tbody>
														<!--end tr-->
														<!--end tr-->
														<!--end tr-->
														<!--end tr-->
														<!--end tr-->
														<!--end tr-->
														<tr role="row" class="odd">
															<td>1</td>
															<td>중등 영어 단기1반</td>
															<td>1</td>
															<td>강의중</td>
															<td>24/25</td>
															<td><span class="badge badge-md badge-soft-purple">중학생</span></td>
															<td>276,000원</td>
															<td>2020-04-01</td>
															<td>2020-06-31</td>
															<td class="sorting_1"><img
																src="../assets/images/users/user-10.jpg" alt=""
																class="thumb-sm rounded-circle mr-2">Donald
																Gardner</td>
														</tr>
														<tr role="row" class="even">
															<td>2</td>
															<td>중등 영어 단기2반</td>
															<td>2</td>
															<td>강의중</td>
															<td>24/25</td>
															<td><span class="badge badge-md badge-soft-purple">중학생</span></td>
															<td>384,200원</td>
															<td>2020-05-01</td>
															<td>2020-07-31</td>
															<td class="sorting_1"><img
																src="../assets/images/users/user-6.jpg" alt=""
																class="thumb-sm rounded-circle mr-2">Dorothy Key</td>
														</tr>
														<tr role="row" class="odd">
															<td>3</td>
															<td>고등 영어 단기1반</td>
															<td>3</td>
															<td>강의중</td>
															<td>24/25</td>
															<td><span class="badge badge-md badge-soft-purple">고등학생</span></td>
															<td>276,000원</td>
															<td>2020-04-01</td>
															<td>2020-06-31</td>
															<td class="sorting_1"><img
																src="../assets/images/users/user-10.jpg" alt=""
																class="thumb-sm rounded-circle mr-2">Donald
																Gardner</td>
														</tr>
														<tr role="row" class="even">
															<td>4</td>
															<td>고등 영어 단기2반</td>
															<td>2</td>
															<td>강의중</td>
															<td>24/25</td>
															<td><span class="badge badge-md badge-soft-purple">고등학생</span></td>
															<td>384,200원</td>
															<td>2020-05-01</td>
															<td>2020-07-31</td>
															<td class="sorting_1"><img
																src="../assets/images/users/user-6.jpg" alt=""
																class="thumb-sm rounded-circle mr-2">Dorothy Key</td>
														</tr>
														<tr role="row" class="odd">
															<td>1</td>
															<td>중등 영어 단기1반</td>
															<td>1</td>
															<td>강의중</td>
															<td>24/25</td>
															<td><span class="badge badge-md badge-soft-purple">중학생</span></td>
															<td>276,000원</td>
															<td>2020-04-01</td>
															<td>2020-06-31</td>
															<td class="sorting_1"><img
																src="../assets/images/users/user-10.jpg" alt=""
																class="thumb-sm rounded-circle mr-2">Donald
																Gardner</td>
														</tr>
														<tr role="row" class="even">
															<td>2</td>
															<td>중등 영어 단기2반</td>
															<td>2</td>
															<td>강의중</td>
															<td>24/25</td>
															<td><span class="badge badge-md badge-soft-purple">중학생</span></td>
															<td>384,200원</td>
															<td>2020-05-01</td>
															<td>2020-07-31</td>
															<td class="sorting_1"><img
																src="../assets/images/users/user-6.jpg" alt=""
																class="thumb-sm rounded-circle mr-2">Dorothy Key</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-12 col-md-5"></div>
											<div class="col-sm-12 col-md-7">
												<div class="dataTables_paginate paging_simple_numbers"
													id="datatable_paginate">
													<ul class="pagination">
														<li class="paginate_button page-item previous disabled"
															id="datatable_previous"><a href="#"
															aria-controls="datatable" data-dt-idx="0" tabindex="0"
															class="page-link">Previous</a></li>
														<li class="paginate_button page-item active"><a
															href="#" aria-controls="datatable" data-dt-idx="1"
															tabindex="0" class="page-link">1</a></li>
														<li class="paginate_button page-item next disabled"
															id="datatable_next"><a href="#"
															aria-controls="datatable" data-dt-idx="2" tabindex="0"
															class="page-link">Next</a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--end card-body-->
						</div>
						<!--end card-->
					</div>
					<!--end col-->
				</div>
				<!--end row-->
			</div>
			<!-- container -->
			<!--  Modal content for the above example -->
			<div class="modal fade bs-example-modal-lg" tabindex="-1"
				role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title mt-0" id="myLargeModalLabel">Add New
								Lead</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true">×</button>
						</div>
						<div class="modal-body">
							<form>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="LeadName">Name</label> <input type="text"
												class="form-control" id="LeadName" required="">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="LeadEmail">Email</label> <input type="email"
												class="form-control" id="LeadEmail" required="">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="PhoneNo">Phone No</label> <input type="text"
												class="form-control" id="PhoneNo" required="">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="status-select" class="mr-2">Country</label> <select
												class="custom-select" id="status-select"><option
													selected="">Select</option>
												<option value="1">India</option>
												<option value="2">USA</option>
												<option value="3">Japan</option>
												<option value="4">China</option>
												<option value="5">Germany</option></select>
										</div>
									</div>
								</div>
								<button type="button" class="btn btn-sm btn-primary">Save</button>
								<button type="button" class="btn btn-sm btn-danger">Delete</button>
							</form>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->
			<!--  Modal content for the above example -->
			<div class="modal modal-rightbar fade" tabindex="-1" role="dialog"
				aria-labelledby="MetricaRightbar" style="display: none;"
				aria-hidden="true">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title mt-0" id="MetricaRightbar">Appearance</h5>
							<button type="button"
								class="btn btn-sm btn-soft-primary btn-circle-sm btn-square"
								data-dismiss="modal" aria-hidden="true">
								<i class="mdi mdi-close"></i>
							</button>
						</div>
						<div class="modal-body">
							<!-- Nav tabs -->
							<ul class="nav nav-pills nav-justified mt-2 mb-4" role="tablist">
								<li class="nav-item"><a class="nav-link active"
									data-toggle="tab" href="#ActivityTab" role="tab">Activity</a></li>
								<li class="nav-item"><a class="nav-link" data-toggle="tab"
									href="#TasksTab" role="tab">Tasks</a></li>
								<li class="nav-item"><a class="nav-link" data-toggle="tab"
									href="#SettingsTab" role="tab">Settings</a></li>
							</ul>
							<!-- Tab panes -->
							<div class="tab-content">
								<div class="tab-pane active" id="ActivityTab" role="tabpanel">
									<div class="bg-light mx-n3">
										<img src="../assets/images/small/img-1.gif" alt=""
											class="d-block mx-auto my-4" height="180">
									</div>
									<div class="slimScrollDiv"
										style="position: relative; overflow: hidden; width: auto; height: 969px;">
										<div class="slimscroll scroll-rightbar"
											style="overflow: hidden; width: auto; height: 969px;">
											<div class="activity">
												<div class="activity-info">
													<div class="icon-info-activity">
														<i
															class="mdi mdi-checkbox-marked-circle-outline bg-soft-success"></i>
													</div>
													<div class="activity-info-text mb-2">
														<div class="mb-1">
															<small class="text-muted d-block mb-1">10 Min ago</small>
															<a href="#" class="m-0 w-75">Task finished</a>
														</div>
														<p class="text-muted mb-2 text-truncate">There are
															many variations of passages.</p>
													</div>
												</div>
												<div class="activity-info">
													<div class="icon-info-activity">
														<i class="mdi mdi-timer-off bg-soft-pink"></i>
													</div>
													<div class="activity-info-text mb-2">
														<div class="mb-1">
															<small class="text-muted d-block mb-1">50 Min ago</small>
															<a href="#" class="m-0 w-75">Task Overdue</a>
														</div>
														<p class="text-muted mb-2 text-truncate">There are
															many variations of passages.</p>
														<span class="badge badge-soft-secondary">Design</span> <span
															class="badge badge-soft-secondary">HTML</span>
													</div>
												</div>
												<div class="activity-info">
													<div class="icon-info-activity">
														<i class="mdi mdi-alert-decagram bg-soft-purple"></i>
													</div>
													<div class="activity-info-text mb-2">
														<div class="mb-1">
															<small class="text-muted d-block mb-1">10 hours
																ago</small> <a href="#" class="m-0 w-75">New Task</a>
														</div>
														<p class="text-muted mb-2 text-truncate">There are
															many variations of passages.</p>
													</div>
												</div>
												<div class="activity-info">
													<div class="icon-info-activity">
														<i class="mdi mdi-clipboard-alert bg-soft-warning"></i>
													</div>
													<div class="activity-info-text mb-2">
														<div class="mb-1">
															<small class="text-muted d-block mb-1">yesterday</small>
															<a href="#" class="m-0 w-75">New Comment</a>
														</div>
														<p class="text-muted mb-2 text-truncate">There are
															many variations of passages.</p>
													</div>
												</div>
												<div class="activity-info">
													<div class="icon-info-activity">
														<i class="mdi mdi-clipboard-alert bg-soft-secondary"></i>
													</div>
													<div class="activity-info-text mb-2">
														<div class="mb-1">
															<small class="text-muted d-block mb-1">01 feb
																2020</small> <a href="#" class="m-0 w-75">New Lead Meting</a>
														</div>
														<p class="text-muted mb-2 text-truncate">There are
															many variations of passages.</p>
													</div>
												</div>
												<div class="activity-info">
													<div class="icon-info-activity">
														<i
															class="mdi mdi-checkbox-marked-circle-outline bg-soft-success"></i>
													</div>
													<div class="activity-info-text mb-2">
														<div class="mb-1">
															<small class="text-muted d-block mb-1">26 jan
																2020</small> <a href="#" class="m-0 w-75">Task finished</a>
														</div>
														<p class="text-muted mb-2 text-truncate">There are
															many variations of passages.</p>
													</div>
												</div>
											</div>
											<!--end activity-->
										</div>
										<div class="slimScrollBar"
											style="background: rgba(162, 177, 208, 0.13); width: 7px; position: absolute; top: 0px; opacity: 1; display: block; border-radius: 7px; z-index: 99; right: 1px;"></div>
										<div class="slimScrollRail"
											style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
									</div>
									<!--end activity-scroll-->
								</div>
								<!--end tab-pane-->
								<div class="tab-pane" id="TasksTab" role="tabpanel">
									<div class="m-0" style="position: relative;">
										<div id="rightbar_chart" class="apex-charts"
											style="min-height: 250px;">
											<div id="apexchartsf3930"
												class="apexcharts-canvas apexchartsf3930"
												style="width: 0px; height: 250px;">
												<svg id="SvgjsSvg1024" width="0" height="250"
													xmlns="http://www.w3.org/2000/svg" version="1.1"
													xmlns:xlink="http://www.w3.org/1999/xlink"
													xmlns:svgjs="http://svgjs.com/svgjs" class="apexcharts-svg"
													xmlns:data="ApexChartsNS" transform="translate(0, 0)"
													style="background: transparent;">
													<g id="SvgjsG1026"
														class="apexcharts-inner apexcharts-graphical">
													<defs id="SvgjsDefs1025"></defs></g></svg>
												<div class="apexcharts-legend"></div>
											</div>
										</div>
										<div class="resize-triggers">
											<div class="expand-trigger">
												<div style="width: 1px; height: 1px;"></div>
											</div>
											<div class="contract-trigger"></div>
										</div>
									</div>
									<div class="text-center mt-n2 mb-2">
										<button type="button" class="btn btn-soft-primary">Create
											Project</button>
										<button type="button" class="btn btn-soft-primary">Create
											Task</button>
									</div>
									<div class="slimScrollDiv"
										style="position: relative; overflow: hidden; width: auto; height: 969px;">
										<div class="slimscroll scroll-rightbar"
											style="overflow: hidden; width: auto; height: 969px;">
											<div class="p-2">
												<div class="media mb-3">
													<img src="../assets/images/widgets/project3.jpg" alt=""
														class="thumb-lg rounded-circle">
													<div
														class="media-body align-self-center text-truncate ml-3">
														<p class="text-success font-weight-semibold mb-0 font-14">Project</p>
														<h4
															class="mt-0 mb-0 font-weight-semibold text-dark font-18">Payment
															App</h4>
													</div>
													<!--end media-body-->
												</div>
												<span><b>Deadline:</b> 02 June 2020</span> <a
													href="javascript: void(0);" class="d-block mt-3"><p
														class="text-muted mb-0">
														Complete Tasks<span class="float-right">75%</span>
													</p>
													<div class="progress mt-2" style="height: 4px;">
														<div class="progress-bar bg-secondary" role="progressbar"
															style="width: 75%" aria-valuenow="75" aria-valuemin="0"
															aria-valuemax="100"></div>
													</div></a>
											</div>
											<hr class="hr-dashed">
										</div>
										<div class="slimScrollBar"
											style="background: rgba(162, 177, 208, 0.13); width: 7px; position: absolute; top: 0px; opacity: 1; display: block; border-radius: 7px; z-index: 99; right: 1px;"></div>
										<div class="slimScrollRail"
											style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
									</div>
								</div>
								<!--end tab-pane-->
								<div class="tab-pane" id="SettingsTab" role="tabpanel">
									<div class="p-1 bg-light mx-n3">
										<h6 class="px-3">Account Settings</h6>
									</div>
									<div class="p-2 text-left mt-3">
										<div class="custom-control custom-switch switch-primary mb-3">
											<input type="checkbox" class="custom-control-input"
												id="settings-switch1" checked=""> <label
												class="custom-control-label" for="settings-switch1">Auto
												updates</label>
										</div>
										<div class="custom-control custom-switch switch-primary mb-3">
											<input type="checkbox" class="custom-control-input"
												id="settings-switch2"> <label
												class="custom-control-label" for="settings-switch2">Location
												Permission</label>
										</div>
										<div class="custom-control custom-switch switch-primary mb-3">
											<input type="checkbox" class="custom-control-input"
												id="settings-switch3" checked=""> <label
												class="custom-control-label" for="settings-switch3">Show
												offline Contacts</label>
										</div>
									</div>
									<div class="p-1 bg-light mx-n3">
										<h6 class="px-3">General Settings</h6>
									</div>
									<div class="p-2 text-left mt-3">
										<div class="custom-control custom-switch switch-primary mb-3">
											<input type="checkbox" class="custom-control-input"
												id="settings-switch4" checked=""> <label
												class="custom-control-label" for="settings-switch4">Show
												me Online</label>
										</div>
										<div class="custom-control custom-switch switch-primary mb-3">
											<input type="checkbox" class="custom-control-input"
												id="settings-switch5"> <label
												class="custom-control-label" for="settings-switch5">Status
												visible to all</label>
										</div>
										<div class="custom-control custom-switch switch-primary mb-3">
											<input type="checkbox" class="custom-control-input"
												id="settings-switch6" checked=""> <label
												class="custom-control-label" for="settings-switch6">Notifications
												Popup</label>
										</div>
									</div>
								</div>
								<!--end tab-pane-->
							</div>
							<!--end tab-content-->
						</div>
						<!--end modal-body-->
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->
			<footer class="footer text-center text-sm-left">
				© 2020 Metrica <span
					class="text-muted d-none d-sm-inline-block float-right">Crafted
					with <i class="mdi mdi-heart text-danger"></i> by Mannatthemes
				</span>
			</footer>
			<!--end footer-->
		</div>
		<!-- end page content -->
	</div>
<div th:include="/include/footer.html"></div>
</body>
</html>