spring:
  devtools:
    livereload:
      enabled: true
  freemarker:
    cache: false

  datasource:
     hikari:      pool-name: hikari-cp
      maximum-pool-size: 30
      minimum-idle: 2
     url: jdbc:log4jdbc:oracle:thin:@localhost:1521:root
     username: root
     password: 1234
     driver-class-name: net.sf.log4jdbc.sql.jdbcapi.DriverSpy  servlet:    multipart:      max-file-size:        10MB
      max-request-size:        10MB

#data-source-properties:
#           cachePrepStmts: true
#           prepStmtCacheSize: 250
#           prepStmtCacheSqlLimit: 2048
#           useServerPrepStmts: true

      
mybatis:
  configuration:
    map-underscore-to-camel-case: true    jdbc-type-for-null: 'NULL'
    cache-enabled: false
  mapper-locations: classpath:/sql/**/*.xml
  type-aliases-package: com.varchar.www.model.domain



#config-location: classpath:config.DatabaseConfiguration


#포트변경              
server:
  port: 80
  
  
  # SQL Log
logging:
  file:
    path: logback-spring.xml