spring:
  devtools:
    livereload:
      enabled: true

# HikariCP 이용
  datasource: 
    hikari: 
      pool-name: hikari-cp
      maximum-pool-size: 30
      minimum-idle: 2
      data-source-properties: 
          cachePrepStmts: true
          prepStmtCacheSize: 250
          prepStmtCacheSqlLimit: 2048
          useServerPrepStmts: true
      jdbc-url: jdbc:log4jdbc:oracle:thin:@localhost:1521:root
      username: scott
      password: tiger
      driver-class-name: net.sf.log4jdbc.sql.jdbcapi.DriverSpy

#포트변경              
server:
  port: 80
  
  
  # SQL Log
logging:
  file:
    path: logback-spring.xml