<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css">
<link href="/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css">
<link href="/css/icons.min.css" rel="stylesheet" type="text/css">
<link href="/css/mainMenu.min.css" rel="stylesheet" type="text/css">
<link href="/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css">
<link href="/css/app.css" rel="stylesheet" type="text/css">
<link href="/css/style.css" rel="stylesheet" type="text/css">
<script src="https://kit.fontawesome.com/8fe653c8f8.js" crossorigin="anonymous"></script>