<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout/popupLayout">
<head>
<meta charset="UTF-8">
<title>성적 등록</title>
</head>
<body>
<div layout:fragment="content">
<div class="page-wrapper">
		<!-- Page Content-->
		<div class="page-content-tab">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="text-center">
							<h4 class="page-title">성적 등록</h4>
						</div>
						<!--end page-title-box-->
					</div>
					<!--end col-->
				</div>

				<!-- 학생 정보 입력칸 시작  -->
				<div class="row">
					<div class="met-profile-main-pic col-lg-4"
						style="display: list-itemflex; margin: auto;">
						<div class="col-lg-4 align-self-center mb-3 mb-lg-0">
						<div class="met-profile-main-pic">
							<img src="img/human.png" alt="" height="100"
								class="rounded-circle"> <span
								class="fro-profile_main-pic-change"><i
								class="fas fa-camera" aria-hidden="true"></i></span>
						</div>
						</div>
					</div>
					<div class="align-self-center  col-lg-12" style="">
						<div class="met-profile-main">

							<div class="met-profile_user-detail"></div>
							<div class="col-lg-4" style="margin: auto;">
								<form class="form-horizontal form-material mb-0">
									<div class="form-group">
										<input type="text" placeholder="학생번호" class="form-control">
										<p></p>
										<input type="text" placeholder="이름" class="form-control">
										<p></p>
										<input type="text" placeholder="학년" class="form-control">
										<p></p>
										<input type="text" placeholder="학교" class="form-control">
										<p></p>
										<input type="text" placeholder="시험명" class="form-control">
										<p></p>
										<input type="text" placeholder="국어" class="form-control">
										<p></p>
										<input type="text" placeholder="영어" class="form-control">
										<p></p>
										<input type="text" placeholder="수학" class="form-control">
										<p></p>
										<input type="text" placeholder="사회" class="form-control">
										<p></p>
										<input type="text" placeholder="과학" class="form-control">
										<p></p>
										<input type="text" placeholder="한국사" class="form-control">
										<p></p>
											<button	class="btn btn-primary btn-sm px-4 mt-3 float-right mb-0">성적등록</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!--  학생입력칸 종료 -->

			</div>
		</div>
	</div>
</div>

</body>

</html>