<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout/popupLayout">
<head>
<meta charset="UTF-8">
<title>성적 등록</title>
</head>
<body>
<div layout:fragment="content">
<div class="page-wrapper">
		<!-- Page Content-->
		<div class="page-content-tab">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="text-center">
							<h4 class="page-title">성적 등록</h4>
						</div>
						<!--end page-title-box-->
					</div>
					<!--end col-->
				</div>

				<!-- 성적 정보 입력칸 시작  -->
				<div class="row">
					<div class="align-self-center  col-lg-12" style="">
						<div class="met-profile-main">

							<div class="met-profile_user-detail"></div>
							<div class="col-lg-4" style="margin: auto;">
								<form class="form-horizontal form-material mb-0" th:action="@{/teacher/insertRecord}" th:object="${record}" th:method="POST">
									<div class="form-group">
										학생번호
										<input type="text" placeholder="학생번호" th:field="*{userId}" class="form-control">
										<p></p>
										학년
										<input type="text" placeholder="학년" th:field="*{age}" class="form-control">
										<p></p>
										시험명 <select class="form-control" th:field="*{testNo}">
												<option value="1">세화고 1학기 중간고사</option>
												<option value="2">휘문고 1학기 중간고사</option>
												<option value="3">경문고 1학기 중간고사</option>
												<option value="4">경기고 1학기 중간고사</option>
												<option value="5">2019년 9월 모의평가</option>
												<option value="6">2020년 3월 모의평가</option>
												<option value="7">2020년 6월 모의평가</option>
												<option value="8">수송중 1학기 중간고사</option>
												<option value="9">남양중 1학기 중간고사</option>
												<option value="10">하계중 1학기 중간고사</option>
												<option value="11">강남중 1학기 중간고사</option>
												</select>
										<p></p>
										국어
										<input type="text" placeholder="국어" th:field="*{koreanLanguage}" class="form-control">
										<p></p>
										영어
										<input type="text" placeholder="영어" th:field="*{english}"class="form-control">
										<p></p>
										수학
										<input type="text" placeholder="수학" th:field="*{math}" class="form-control">
										<p></p>
										사회
										<input type="text" placeholder="사회" th:field="*{social}" class="form-control">
										<p></p>
										과학
										<input type="text" placeholder="과학" th:field="*{science}" class="form-control">
										<p></p>
										한국사
										<input type="text" placeholder="한국사" th:field="*{koreanHistory}" class="form-control">
										<p></p>
											<button class="btn btn-primary btn-sm px-4 mt-3 float-right mb-0">성적등록</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!--  성적입력칸 종료 -->
			</div>
		</div>
	</div>
</div>
</body>
</html>