@charset "UTF-8";



.toolbar_elements {
	width: 3rem;
	height: 3rem;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	font-size: 1.75rem;
	color: rgb(134, 142, 150);
	cursor: pointer;
	flex-shrink: 0;
	background: none;
	outline: none;
	border-width: initial;
	border-style: none;
	border-color: initial;
	border-image: initial;
	padding: 0px;
}

.ql_header_section {
	font-size: 1rem;
	font-weight: bold;
	font-family: serif;
}

.ql_header_section span {
	font-size: 0.75rem;
}


.editor_toolbar{
	top: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    z-index: 10;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    width: auto;
    background: white;
    transition: all 0.125s ease-in 0s;
}


.vertical_line{
	width: 1px;
    height: 1.25rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background: rgb(206, 212, 218);
}



.board_black_line{
	height: 6px;
    width: 4rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    background: rgb(73, 80, 87);
    border-radius: 1px;
}

.postForm_header{
	width:100%;
	max-height: 540px;
    opacity: 1;
    padding-top: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.postForm_header textarea{
	overflow:hidden;
	height : 66px;
	display: block;
    font-size: 2.75rem;
    width: 100%;
    resize: none;
    line-height: 1.5;
    font-weight: bold;
    color: rgb(33, 37, 41);
    padding: 0px;
    outline: none;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}
.container{
	width:1000px !important ;
	  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 2px;
}

.editorDIV{
	width:100%;
	height: 600px;
	padding-left: 3rem;
    padding-right: 3rem;
}

.temp_date{
	margin-left:30px;
}

.postForm_header_board > button {
	margin:2px;
}
.postForm_header_board > p {
	    margin-top: 10px;
    line-height: 1.6;
    font-family: Roboto,sans-serif;
    font-size: .5rem;
    font-weight: 400;
    color:#8a8a8a;
}

.postForm_header_board > a{
	color:#8a8a8a;
}

.first_editor_contents{
	font-size:16px;
	color:#8a8a8a;
}
.temp_title{
	margin-left:3px;
}

.editorDIV{
	font-size:16px;
}

.editorDIV blockquote{
	margin-top: 2rem;
    margin-bottom: 2rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-left: 0px;
    margin-right: 0px;
    color: rgb(33, 37, 41);
    border-left: 4px solid #4351ff;
    background: rgb(248, 249, 250);
    padding: 1rem 1rem 1rem 2rem;
}


/* .drag-over { background-color: #ff0; } 
.thumb {padding:5px; }
.thumb > img { width:100%; }
.thumb > .close { position:absolute; background-color:#808080; cursor:pointer; }*/

img { width:100%; }
.close { position:absolute; background-color:#808080; cursor:pointer; }

.editorFooter{
	position: fixed;
    bottom: 0px;
    width:1000px;
    z-index: 10;
    right:315px;
}

.editorFooter .footerWrapper{
	padding-left: 1rem;
    padding-right: 1rem;
    height: 4rem;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 3px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.85);
}

.editorFooter .footerWrapper .exitEditor{
	height: 2.5rem;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    display: flex;
    padding: 0.5rem 1rem;
    background: none;
    border-radius: 4px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    outline: none;
}
.editorFooter .footerWrapper .exitEditor svg{
	font-size: 1.25rem;
    margin-right: 0.5rem;
}
.editorFooter .footerWrapper .exitEditor span {
	font-size: 1.125rem;
}

.editorFooter .footerWrapper .savingActions{
	-webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
}

.editorFooter .footerWrapper .savingActions .temporarySaveButton{
	height: 2.5rem;
    font-size: 1.125rem;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    color: rgb(73, 80, 87);
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 1.25rem;
    padding-right: 1.25rem;

    outline: none;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    background: rgb(233, 236, 239);
    border-radius: 4px;
}

.editorFooter .footerWrapper .savingActions .saveButton{
	margin-left: 0.75rem;
	height: 2.5rem;
    font-size: 1.125rem;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    color: white;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    outline: none;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    background: rgb(18, 184, 134);
    border-radius: 4px;
}
