@charset "UTF-8";


/* 그룹 추가 영역 시작 */
.insertPopupContainer{
	
	 width: 300px;
    margin: auto ;
	display: block;
    position: relative;
    padding: 0px;
}
.insertPopupContainer .insertBoardGroupItem{
	display: block;
    z-index: 2;
    position: relative;
    margin: 0px 4px 0px 0px;
    padding: 0px 0px 8px;
}
.insertPopupContainer .insertBoardGroupItem .itemCardWrapper{
	cursor: default;
    display: block;
    background-color: rgb(255, 255, 255);
    margin: 0px;
    padding: 16px;
    border-radius: 3px;
}
.insertPopupContainer .insertBoardGroupItem .itemCardWrapper .itemCardExtra{
	display: block;
    margin: 0px;
    padding: 0px;
}
.insertPopupContainer .insertBoardGroupItem .itemCardWrapper .itemCardExtra .itemCardHeader{
	display: flex;
    align-items: center;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    margin: 0px;
    padding: 0px;
}

.insertPopupContainer .insertBoardGroupItem .itemCardWrapper .itemCardExtra .itemCardHeader .itemCardHeaderAuthor{
	color: rgb(157, 170, 182);
    display: block;
    flex: 1 1 0%;
    margin: 0px;
    padding: 0px 0px 0px 8px;
}

.insertPopupContainer .textUIFamily{
	font-size: 12px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    line-height: 1.5;
}

/* 그룹 추가 영역 끝*/


/* 그룹 명 input 영역 */
.insertPopupContainer .insertBoardGroupItem .itemCardWrapper .itemCardExtra .itemCardBody{
	color: rgb(36, 42, 49);
    display: block;
    margin: 0px;
    padding: 0px;
}

.insertPopupContainer .insertBoardGroupItem .itemCardWrapper .itemCardExtra .itemCardBody .mg-top-8{
	display: block;
    margin: 8px 0px 0px;
    padding: 0px;
}

.insertPopupContainer .insertBoardGroupItem .itemCardWrapper .itemCardExtra .itemCardBody .mg-top-8 .itemCardBodyContent{
	color: inherit;
    width: 100%;
    cursor: text;
    height: fit-content;
    resize: none;
    display: block;
    font-size: 12px;
    max-width: 100%;
    align-self: stretch;
    font-weight: 400;
    line-height: 1.625;
    text-overflow: ellipsis;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    padding: 0px;
    overflow: hidden;
    background: transparent;
    max-height: 19px;
}

.gray-line{
	display: block;
    margin: 16px 0px;
    padding: 0px;
    border-top: 1px solid rgb(230, 236, 241);
}

.insertPopupContainer .insertBoardGroupItem .itemCardWrapper .itemCardFooter{
	display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    margin: 8px 0px 0px;
    padding: 0px;
}

.insertPopupContainer .insertBoardGroupItem .itemCardWrapper .itemCardFooter .itemActivitySummary{
	color: rgb(157, 170, 182);
    display: flex;
    align-items: center;
    white-space: nowrap;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    margin: 0px;
    padding: 0px;
}

.insertPopupContainer .insertBoardGroupItem .itemCardWrapper .itemCardFooter .itemActivityToolbar{
	grid-template-columns: repeat(2, auto);
	display: inline-grid;
    grid-template-rows: none;
    margin: 0px;
    padding: 0px;
    grid-column-gap: 8px;
}


.insertPopupContainer .insertBoardGroupItem .itemCardWrapper .itemCardFooter .itemActivityToolbar .itemSaveButton{
	color: rgb(255, 255, 255);
    cursor: pointer;
    height: 30px;
    display: inline-flex;
    align-items: center;
    line-height: 1em;
    white-space: nowrap;
    justify-content: center;
    -webkit-box-pack: center;
    background-color: rgb(38, 203, 124);
    -webkit-box-align: center;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    outline: none;
    padding: 0px 16px;
    border-color: transparent;
    border-radius: 60px;
    text-decoration: none;
    transition: all 250ms ease-out 0s;
}

.insertPopupContainer .insertBoardGroupItem .itemCardWrapper .itemCardFooter .itemActivityToolbar .smallIconArea{
	font-size: 18px;
    margin-right: 8px;
}


.insertPopupContainer .insertBoardGroupItem .itemCardWrapper .itemCardFooter .itemActivityToolbar .smallIcon{
    width: 1em;
    height: 1em;
    vertical-align: middle;
}


.insertPopupContainer .insertBoardGroupItem .itemCardWrapper .itemCardFooter .itemActivityToolbar .itemCloseButton{
	color: rgb(116, 129, 141);
    width: 30px;
    cursor: pointer;
    height: 30px;
    display: inline-flex;
    align-items: center;
    line-height: 1em;
    white-space: nowrap;
    justify-content: center;
    -webkit-box-pack: center;
    background-color: rgb(230, 236, 241);
    -webkit-box-align: center;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    outline: none;
    padding: 0px;
    border-color: transparent;
    border-radius: 60px;
    text-decoration: none;
    transition: all 250ms ease-out 0s;
}

.insertPopupContainer .insertBoardGroupItem .itemCardWrapper .itemCardFooter .itemActivityToolbar .itemCloseButton .iconOnly{
	display: flex;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    margin: 0px;
}

