.container {
	max-width: 1200px;
}

.userThumbImg{
	width: 60px;
	height: 78px;
}
.userInfoImg{
	margin-left: 120px;
    min-width: 120px;
    min-height: 150px;
}

.post-list-info , .editorDIV div{
	font-family: 'Noto Sans KR', sans-serif !important;
	font-weight: 400;
	font-size: 14px;
}

.table td, .table .thead-light th{
	font-family: 'Noto Sans KR', sans-serif !important;
	font-weight: 400;
}
H1, H2, H3, H4, H5, H6{
	font-family: 'Noto Sans KR', sans-serif !important;
	font-weight: 600;
}
p{
	font-family: 'Noto Sans KR', sans-serif !important;
	font-weight: 300;
}

text {
	font-family: 'Noto Sans KR', sans-serif !important;
	font-weight: 400;
}

a, button{
	font-family: 'Noto Sans KR', sans-serif !important;
	font-weight: 400;
}



.row a{
	cursor: pointer;
}

.mg-top10 {
	margin-top: 10px;
}

.mg-top20 {
	margin-top: 20px;
}

.mg-top30 {
	margin-top: 30px;
}

.mg-top40 {
	margin-top: 40px;
}

.mg-top50 {
	margin-top: 50px;
}

.mg-top60 {
	margin-top: 60px;
}

.mg-top70 {
	margin-top: 70px;
}

.mg-top80 {
	margin-top: 80px;
}

.mg-top90 {
	margin-top: 90px;
}
.mg-auto{
	margin:auto;
}

.col-inline-block {
	display: inline-block;
}

.black-hr {
	border-top: 1px solid #8c8a8a;
	margin-bottom: 30px;
}


.menu-body h6{
	cursor:pointer;
}

.main-icon-menu-pane ul{
	display: none;
}

.main-icon-menu-pane .active {
	display: block;
}


.nav-link{
	margin-bottom:10px;
}

.nav-second-level .nav-item{
	margin-bottom:12px;
}

.title-box-icons{
	text-align:right;
}
.group_icon{
	display:none;
	position:absolute;
	right:12px;
	padding : 10px 3px 0px 3px;
	cursor : pointer;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	
	/* position:absolute; */
}

.main-icon-menu {
	z-index : 1400 !important;
}
.main-menu-inner{
	z-index : 1400;
}


.menu-title{
	max-height: 27px;
    overflow-y: hidden;
}

.metismenu .nav-link{
	width:140px;
	padding-right:0px;
}

.popup-link{
	padding-left:2px;
	padding-right:2px;
}

.nav-item .on{
	display:block;
}

.title-box > .lecture{
	display: block ;
	padding:0 !important;
}

.profile-area{
    position: relative;
    right: 170px;
}


.nav-user-name{
	font-size : 1rem;
	margin-left: .75rem !important;
}

.buyLectureButton{
	
}
