.container {
	max-width: 1200px;
}

.mg-top10 {
	margin-top: 10px;
}

.mg-top20 {
	margin-top: 20px;
}

.mg-top30 {
	margin-top: 30px;
}

.mg-top40 {
	margin-top: 40px;
}

.mg-top50 {
	margin-top: 50px;
}

.mg-top60 {
	margin-top: 60px;
}

.mg-top70 {
	margin-top: 70px;
}

.mg-top80 {
	margin-top: 80px;
}

.mg-top90 {
	margin-top: 90px;
}
.mg-auto{
	margin:auto;
}

.col-inline-block {
	display: inline-block;
}

.black-hr {
	border-top: 1px solid #8c8a8a;
	margin-bottom: 30px;
}
