<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>관리자 로그인</title>
<link href="/css/cLog.css" rel="stylesheet" type="text/css">
</head>
<body>
	<article class="bootpay-content">
		<div class="login-index-container">
			<div class="header">
				<div class="header-title">
					<h2 class="site-title">관리자 로그인</h2>
					<p class="comment fs-3">관리자만 로그인할 수 있습니다.</p>
				</div>
				<div class="separator separator-bottom separator-skew zindex-100">
					<svg preserveAspectRatio="none" version="1.1"
						viewBox="0 0 2560 100" x="0" xmlns="http://www.w3.org/2000/svg"
						y="0">
						<polygon points="4560 0 4560 100 0 100" class="fill-default"></polygon></svg>
				</div>
			</div>
			<div class="body">
				<div class="login-inner">
					<div class="login-input-container">
						<div class="body">
							<h4 class="highlight">관리자에 로그인하세요</h4>
							<div class="form">
								<div class="form-group mb-3">
									<div
										class="input-group input-group-merge input-group-alternative">
										<div class="input-group-prepend">
											<span class="input-group-text"></span>
										</div>
										<input placeholder="아이디를 입력해주세요" type="email"
											class="form-control">
									</div>
								</div>
								<div class="form-group mb-3">
									<div
										class="input-group input-group-merge input-group-alternative">
										<div class="input-group-prepend">
											<span class="input-group-text"></span>
										</div>
										<input placeholder="패스워드를 입력해주세요." type="password"
											class="form-control">
									</div>
								</div>
								<div class="form-group mt-5 mb-2">
									<button class="btn btn-primary btn-lg btn-block">로그인</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</article>
</body>
</html>