<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Join</title>
</head>
<body>

<form th:object="${academyUser}" th:action="@{/signup}" th:method="post">
    <div><label>아이디    <input type="text" th:field="*{userId}"></label></div>
    <div><label>비밀번호 <input type="text" th:field="*{userPassword}"></label></div>
    <div><label>이름      <input type="text" th:field="*{userName}"></label></div>
    <div><label>구분 <input type="text" th:field="*{authorityCode}"></label></div>
    <button type="submit">저장</button>
</form>

</body>
</html>