	<div class="leftbar-tab-menu mm-active active">
	
	
	
<div class="slimScrollDiv mm-active active" style="position: relative; overflow: hidden; width: auto; height: 969px;">
    <div class="menu-body slimscroll mm-show" style="overflow: hidden; width: auto; height: 969px;">
        <div id="MetricaCRM" class="main-icon-menu-pane mm-active">
            <div class="title-box active"><h6 class="menu-title">CRM</h6></div>
            <ul class="nav in mm-show">
                <li class="nav-item active"><a class="nav-link active" href="../crm/crm-index.html">Dashboard</a></li>
                <li class="nav-item"><a class="nav-link" href="../crm/crm-contacts.html">Contacts</a></li>
                <li class="nav-item"><a class="nav-link" href="../crm/crm-opportunities.html">Opportunities</a></li>
                <li class="nav-item"><a class="nav-link" href="../crm/crm-leads.html">Leads</a></li>
                <li class="nav-item"><a class="nav-link" href="../crm/crm-customers.html">Customers</a></li>
            </ul>
        </div><!-- end CRM -->
        
        
        <div id="MetricaApps" class="main-icon-menu-pane active">
            <div class="title-box"><h6 class="menu-title">[확률과통계]2021 무조건 나오는 적중기출 100제</h6></div>
            <ul class="nav metismenu" style="
">
                <li class="nav-item"><a class="nav-link" href="javascript: void(0);" aria-expanded="false"><span
                        class="w-100">과제제출</span><span class="menu-arrow"><i
                        class="mdi mdi-chevron-right"></i></span></a>
                    <ul class="nav-second-level mm-collapse" aria-expanded="false" style="height: 0px;">
                        <li><a href="../apps/email-inbox.html">1회 중복조합</a></li>
                        <li><a href="../apps/email-read.html">2회 확률의 정의</a></li>
                        <li><a href="../apps/email-inbox.html">3회 확률의 정의</a></li>
                    </ul>
                </li><!--end nav-item-->
                <li class="nav-item"><a class="nav-link" href="../apps/chat.html" aria-expanded="false">★적중 100제★
                    자체평가</a></li>
                <li class="nav-item"><a class="nav-link" href="../apps/contact-list.html" aria-expanded="false">복습
                    검사</a></li>
                <li class="nav-item"><a class="nav-link" href="../apps/invoice.html" aria-expanded="false">개인 질의응답</a>
                </li>
            </ul>
        </div><!-- end Crypto -->
        <div id="MetricaUikit" class="main-icon-menu-pane">
            <div class="title-box"><h6 class="menu-title">UI Kit</h6></div>
            <ul class="nav metismenu">
                <li class="nav-item"><a class="nav-link" href="#" aria-expanded="false"><span
                        class="w-100">UI Elements</span><span class="menu-arrow"><i
                        class="mdi mdi-chevron-right"></i></span></a>
                    <ul class="nav-second-level mm-collapse" aria-expanded="false" style="height: 0px;">
                        <li><a href="../others/ui-bootstrap.html">Bootstrap</a></li>
                        <li><a href="../others/ui-animation.html">Animation</a></li>
                        <li><a href="../others/ui-avatar.html">Avatar</a></li>
                        <li><a href="../others/ui-clipboard.html">Clip Board</a></li>
                        <li><a href="../others/ui-files.html">File Manager</a></li>
                        <li><a href="../others/ui-ribbons.html">Ribbons</a></li>
                        <li><a href="../others/ui-dragula.html">Dragula</a></li>
                        <li><a href="../others/ui-check-radio.html">Check &amp; Radio</a></li>
                    </ul>
                </li><!--end nav-item-->
                <li class="nav-item"><a class="nav-link" href="#" aria-expanded="false"><span
                        class="w-100">Advanced UI</span><span class="menu-arrow"><i
                        class="mdi mdi-chevron-right"></i></span></a>
                    <ul class="nav-second-level mm-collapse" aria-expanded="false">
                        <li><a href="../others/advanced-rangeslider.html">Range Slider</a></li>
                        <li><a href="../others/advanced-sweetalerts.html">Sweet Alerts</a></li>
                        <li><a href="../others/advanced-nestable.html">Nestable List</a></li>
                        <li><a href="../others/advanced-ratings.html">Ratings</a></li>
                        <li><a href="../others/advanced-highlight.html">Highlight</a></li>
                        <li><a href="../others/advanced-session.html">Session Timeout</a></li>
                        <li><a href="../others/advanced-idle-timer.html">Idle Timer</a></li>
                    </ul>
                </li><!--end nav-item-->
                <li class="nav-item"><a class="nav-link" href="#" aria-expanded="false"><span class="w-100">Forms</span><span
                        class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                    <ul class="nav-second-level mm-collapse" aria-expanded="false">
                        <li><a href="../others/forms-elements.html">Basic Elements</a></li>
                        <li><a href="../others/forms-advanced.html">Advance Elements</a></li>
                        <li><a href="../others/forms-validation.html">Validation</a></li>
                        <li><a href="../others/forms-wizard.html">Wizard</a></li>
                        <li><a href="../others/forms-editors.html">Editors</a></li>
                        <li><a href="../others/forms-repeater.html">Repeater</a></li>
                        <li><a href="../others/forms-x-editable.html">X Editable</a></li>
                        <li><a href="../others/forms-uploads.html">File Upload</a></li>
                        <li><a href="../others/forms-img-crop.html">Image Crop</a></li>
                    </ul>
                </li><!--end nav-item-->
                <li class="nav-item"><a class="nav-link" href="#" aria-expanded="false"><span
                        class="w-100">Charts</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                    <ul class="nav-second-level mm-collapse" aria-expanded="false">
                        <li><a href="../others/charts-apex.html">Apex</a></li>
                        <li><a href="../others/charts-morris.html">Morris</a></li>
                        <li><a href="../others/charts-chartist.html">Chartist</a></li>
                        <li><a href="../others/charts-flot.html">Flot</a></li>
                        <li><a href="../others/charts-peity.html">Peity</a></li>
                        <li><a href="../others/charts-chartjs.html">Chartjs</a></li>
                        <li><a href="../others/charts-sparkline.html">Sparkline</a></li>
                        <li><a href="../others/charts-knob.html">Jquery Knob</a></li>
                        <li><a href="../others/charts-justgage.html">JustGage</a></li>
                    </ul>
                </li><!--end nav-item-->
                <li class="nav-item"><a class="nav-link" href="#" aria-expanded="false"><span
                        class="w-100">Tables</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                    <ul class="nav-second-level mm-collapse" aria-expanded="false">
                        <li><a href="../others/tables-basic.html">Basic</a></li>
                        <li><a href="../others/tables-datatable.html">Datatables</a></li>
                        <li><a href="../others/tables-responsive.html">Responsive</a></li>
                        <li><a href="../others/tables-footable.html">Footable</a></li>
                        <li><a href="../others/tables-jsgrid.html">Jsgrid</a></li>
                        <li><a href="../others/tables-dragger.html">Dragger</a></li>
                        <li><a href="../others/tables-editable.html">Editable</a></li>
                    </ul>
                </li><!--end nav-item-->
                <li class="nav-item"><a class="nav-link" href="#" aria-expanded="false"><span class="w-100">Icons</span><span
                        class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                    <ul class="nav-second-level mm-collapse" aria-expanded="false">
                        <li><a href="../others/icons-materialdesign.html">Material Design</a></li>
                        <li><a href="../others/icons-dripicons.html">Dripicons</a></li>
                        <li><a href="../others/icons-fontawesome.html">Font awesome</a></li>
                        <li><a href="../others/icons-themify.html">Themify</a></li>
                        <li><a href="../others/icons-feather.html">Feather</a></li>
                        <li><a href="../others/icons-typicons.html">Typicons</a></li>
                        <li><a href="../others/icons-emoji.html">Emoji <i class="em em-ok_hand"></i></a></li>
                    </ul>
                </li><!--end nav-item-->
                <li class="nav-item"><a class="nav-link" href="#" aria-expanded="false"><span
                        class="w-100">Maps</span><span class="menu-arrow"><i
                        class="mdi mdi-chevron-right"></i></span></a>
                    <ul class="nav-second-level mm-collapse" aria-expanded="false">
                        <li><a href="../others/maps-google.html">Google Maps</a></li>
                        <li><a href="../others/maps-leaflet.html">Leaflet Maps</a></li>
                        <li><a href="../others/maps-vector.html">Vector Maps</a></li>
                    </ul>
                </li><!--end nav-item-->
                <li class="nav-item"><a class="nav-link" href="#" aria-expanded="false"><span class="w-100">Email Templates</span><span
                        class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                    <ul class="nav-second-level mm-collapse" aria-expanded="false">
                        <li><a href="../others/email-templates-basic.html">Basic Action Email</a></li>
                        <li><a href="../others/email-templates-alert.html">Alert Email</a></li>
                        <li><a href="../others/email-templates-billing.html">Billing Email</a></li>
                    </ul>
                </li><!--end nav-item--></ul><!--end nav--></div><!-- end Others -->
        <div id="MetricaPages" class="main-icon-menu-pane">
            <div class="title-box"><h6 class="menu-title">Pages</h6></div>
            <ul class="nav">
                <li class="nav-item"><a class="nav-link" href="../pages/pages-profile.html">Profile</a></li>
                <li class="nav-item"><a class="nav-link" href="../pages/pages-tour.html">Tour</a></li>
                <li class="nav-item"><a class="nav-link" href="../pages/pages-timeline.html">Timeline</a></li>
                <li class="nav-item"><a class="nav-link" href="../pages/pages-treeview.html">Treeview</a></li>
                <li class="nav-item"><a class="nav-link" href="../pages/pages-starter.html">Starter Page</a></li>
                <li class="nav-item"><a class="nav-link" href="../pages/pages-pricing.html">Pricing</a></li>
                <li class="nav-item"><a class="nav-link" href="../pages/pages-blogs.html">Blogs</a></li>
                <li class="nav-item"><a class="nav-link" href="../pages/pages-faq.html">FAQs</a></li>
                <li class="nav-item"><a class="nav-link" href="../pages/pages-gallery.html">Gallery</a></li>
            </ul>
        </div><!-- end Pages -->
        <div id="MetricaAuthentication" class="main-icon-menu-pane">
            <div class="title-box"><h6 class="menu-title">Authentication</h6></div>
            <ul class="nav">
                <li class="nav-item"><a class="nav-link" href="../authentication/auth-login.html">Log in</a></li>
                <li class="nav-item"><a class="nav-link" href="../authentication/auth-login-alt.html">Log in alt</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="../authentication/auth-register.html">Register</a></li>
                <li class="nav-item"><a class="nav-link"
                                        href="../authentication/auth-register-alt.html">Register-alt</a></li>
                <li class="nav-item"><a class="nav-link" href="../authentication/auth-recover-pw.html">Re-Password</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="../authentication/auth-recover-pw-alt.html">Re-Password-alt</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="../authentication/auth-lock-screen.html">Lock Screen</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="../authentication/auth-lock-screen-alt.html">Lock
                    Screen</a></li>
                <li class="nav-item"><a class="nav-link" href="../authentication/auth-404.html">Error 404</a></li>
                <li class="nav-item"><a class="nav-link" href="../authentication/auth-404-alt.html">Error 404-alt</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="../authentication/auth-500.html">Error 500</a></li>
                <li class="nav-item"><a class="nav-link" href="../authentication/auth-500-alt.html">Error 500-alt</a>
                </li>
            </ul>
        </div><!-- end Authentication-->
        <div id="MetricaApps" class="main-icon-menu-pane active">
            <div class="title-box"><h6 class="menu-title">[엄쌤] 익석이조: 문학,독서 휘어잡기
            </h6></div>
            <ul class="nav metismenu"><!--end nav-item-->
                <li class="nav-item mm-active"><a class="nav-link" href="javascript: void(0);"
                                                  aria-expanded="true"><span class="w-100">엄쌤 무비 더 비기닝</span><span
                        class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                    <ul class="nav-second-level mm-collapse mm-show" aria-expanded="false" style="">
                        <li><a href="../apps/email-inbox.html">5월 문법노트+독서노트</a></li>
                        <li><a href="../apps/email-read.html">6월 고농충 수능완성+파이널 문제풀이</a></li>
                        <li><a href="../apps/email-inbox.html">파이널 문제풀이 총정리</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="../apps/chat.html" aria-expanded="false">엄쌤의 문학노트 -
                    문제풀이1편</a></li>
                <li class="nav-item"><a class="nav-link" href="../apps/contact-list.html" aria-expanded="false">엄쌤의 문학노트
                    - 문제풀이2편</a></li>
                <li class="nav-item"><a class="nav-link" href="../apps/calendar.html" aria-expanded="false">엄쌤의 문학노트 -
                    문제풀이3편</a></li>
                <li class="nav-item"><a class="nav-link" href="../apps/invoice.html" aria-expanded="false">엄쌤의 문학노트 -
                    실전모고 1,2,3</a></li>
            </ul>
        </div>
    </div>
    <div class="slimScrollBar"
         style="background: rgba(162, 177, 208, 0.13); width: 7px; position: absolute; top: 0px; opacity: 1; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 901px;"></div>
    <div class="slimScrollRail"
         style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
</div>
</div>