<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout/defaultLayout">
<head>
<link href="/css/editorStyle.css" rel="stylesheet" type="text/css">
<script src="https://kit.fontawesome.com/8fe653c8f8.js"
	crossorigin="anonymous"></script>


</head>
<body onload="checkBlockquote();">

	<div layout:fragment="content">

		<div  class="page-wrapper"  th:object="${posts}" >
			<!-- Page Content-->
			
			<div class="page-content-tab">
				<div class="container">

				
					<!-- 공간 끝 -->

					<div class="row">
						
						<div class="postForm_header">
							<div class="postForm_header_board">
								<a th:href="@{/board/postList/{boardNo}(boardNo=${boardNo})}">
									<b th:text="${boardName}"> [엄쌤] 일석이조 : SQLD 스터디룸</b>
								</a>
							</div>
							<div class="postForm_header_title">
							<!-- form="postsForm" -->
								<textarea placeholder="제목을 입력하세요" id="postTitleArea" ></textarea>
							</div>
							<div class="board_black_line"></div>
							<div class="postForm_header_temporary" >
							<th:block th:if="${temporaryPostList != null} ">
								<div th:replace="~{common/board/fragment/temporaryPostList :: temporaryPostList(${temporaryPostList},null)}"></div>
							</th:block>	
							
							</div>
							<hr class="black-hr">
						</div>

					</div>

					<div class="row">
						<div
							th:replace="~{common/board/fragment/editToolbar :: editToolbar}"></div>
				
								
				 <form th:action="@{/insertPosts}" method="post" id="postsForm">
				 		<input type="hidden" th:field="*{boardNo}" >
				 		<input type="hidden" th:field="*{postTitle}" >
				 		<input type="hidden" th:field="*{postPreview}" maxlength="190" >
				 		<input type="hidden" th:field="*{postThumbnail}" > 	 								
						<textarea id="postContents" name="postContents"></textarea>
							<div id="editorForm" class="editorDIV editorForm" contenteditable="true" >
								<div class="first_editor_contents">내용을 입력해주세요</div>
								<div><br></div>
						</div>
				 </form> 		
					</div>

				</div>

				<div class="editFooterContainer">
					<div class="editorFooter">
						<div class="footerWrapper">
							<a th:href="@{/board/postList/{boardNo}(boardNo=${boardNo})}" class="exitEditor" >
								<svg stroke="currentColor" fill="currentColor" stroke-width="0"
									viewBox="0 0 24 24" height="1em" width="1em"
									xmlns="http://www.w3.org/2000/svg">
							
							<path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"></path></svg>
								<span>나가기</span>
							</a>
							
							<div class="savingActions">
								<button color="lightGray" class="temporarySaveButton">임시저장</button>
								<button color="teal" class="saveButton" >등록하기</button>
							</div>
							
						</div>
					</div>

				</div>
			</div>
			
		</div>
		<script th:src="@{https://cdn.jsdelivr.net/npm/sweetalert2@9}"></script>
		<script th:src="@{/js/editor/editEventTrigger.js}"></script>
		<script th:src="@{/js/editor/boardEditor.js}"></script>
	</div>

	

</body>
</html>