<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	  layout:decorator="~{layout/defaultLayout}">
<head>
<link href="/css/boardStyle.css" rel="stylesheet" type="text/css">
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>
<body>

<th:block layout:frament="contents">

	<div class="page-wrapper">
		<!-- Page Content-->
		<div class="page-content-tab">
			<div class="container">

				<!-- 공간   -->
				<div class="row">
					<div class="col-sm-12">
						<div class="page-title-box"></div>
					</div>
				</div>
				<!-- 공간  end -->


				<!-- 게시판 제목, 설명 start -->
				<div class="row">

					<div class="col-lg-12">
						<!-- <h2>[엄쌤] 머리에 쏙쏙 SQLD 들어오는 강의</h2> -->
						<!-- <textarea rows="1" cols="40" class="board_title_text" >[엄쌤] 머리에 쏙쏙 SQLD 들어오는 강의</textarea> -->
						<input type="text" class="board_title_text" maxlength="35"
							value="[엄쌤] 머리에 쏙쏙 SQLD 들어오는 강의">
					</div>
				</div>
				<div class="row">
					<div class="col-md-7">
						<!-- 	<h4>엄쌤의 SQLD자격증을 취득하기 위한 멘토,멘티 일석이조 게시판입니다. 강의게시판 간략 소개를 여기에
							쓰시면 됩니다</h4> -->
						<!-- 	<input type="text" class="board_contents_text" maxlength="35"
						 value="[엄쌤] 머리에 쏙쏙 SQLD 들어오는 강의"> -->

						<textarea rows="2" cols="31" maxlength="62"
							class="board_contents_text">
엄쌤의 SQLD자격증을 취득하기 위한 멘토,멘티 일석이조 게시판입니다. 
강의게시판 간략 소개를 여기에쓰시면 됩니다</textarea>
						<!-- <textarea rows="2" cols="32" maxlength="66" class="board_contents_text" readonly>[엄쌤] 머리에 쏙쏙 SQLD 들어오는 강의</textarea> -->
					</div>
					<div class="col-md-5">
						<div id="dataTable_dateFilter" class="dataTable_dateFilter">
							<label class="">일자검색: <input type="text"
								class="form-control form-control-sm" placeholder = "전체검색">
							</label>
						</div>

						<div id="datatable_filter" class="dataTables_filter">
							<label class="board-search-bar">Search:<input
								type="search" class="form-control form-control-sm"
								placeholder="제목/내용/이름" aria-controls="datatable"></label>
						</div>
					</div>

				</div>
				
				<form th:action="@{lcy}"></form>
				
				<form action="/lcy"></form>
				
				<hr class="black-hr">
				<!-- 게시판 제목, 설명 end -->


				<div
					th:replace="~{common/board/fragment/postListFragment :: boardPostList}"></div>
				<div
					th:replace="~{common/board/fragment/postListFragment :: boardPostList}"></div>
				<div
					th:replace="~{common/board/fragment/postListFragment :: boardPostList}"></div>
				<div
					th:replace="~{common/board/fragment/postListFragment :: boardPostList}"></div>
				<div
					th:replace="~{common/board/fragment/postListFragment :: boardPostList}"></div>
				<div class="mg-top20">
					<div class="row">
						<div class="col-lg-2">
							<button class="btn btn-md btn-primary px-4">글쓰기</button>
						</div>
						<div class="col-lg-8">
							<div class="pagination_center">
								<ul class="pagination">
									<li class="paginate_button page-item previous disabled"
										id="datatable_previous"><a href="#"
										aria-controls="datatable" data-dt-idx="0" tabindex="0"
										class="page-link">이전</a></li>
									<li class="paginate_button page-item active"><a href="#"
										aria-controls="datatable" data-dt-idx="1" tabindex="0"
										class="page-link">1</a></li>
									<li class="paginate_button page-item "><a href="#"
										aria-controls="datatable" data-dt-idx="2" tabindex="0"
										class="page-link">2</a></li>
									<li class="paginate_button page-item "><a href="#"
										aria-controls="datatable" data-dt-idx="3" tabindex="0"
										class="page-link">3</a></li>
									<li class="paginate_button page-item next disabled"
										id="datatable_next"><a href="#" aria-controls="datatable"
										data-dt-idx="7" tabindex="0" class="page-link">다음</a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-2">
							<button
								class="btn btn-md btn-gradient-info waves-effect waves-light px-5 ">내
								글보기</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>


	
</body>
</html>