<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <meta th:include="/include/meta.html">
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>
<body>

<div th:include="/include/topbar.html"></div>
<div th:include="/include/nav/boardNavBar.html"></div>

<div class="page-wrapper">
    <!-- Page Content-->
    <div class="page-content-tab">
        <div class="container">

            <!-- 공간   -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box"></div>
                </div>
            </div>
            <!-- 공간  end -->


            <!-- 게시판 제목, 설명 start -->
            <div class="row">

                <div class="col-lg-12">
                    <h3>[엄쌤] 머리에 쏙쏙 SQLD 들어오는 강의</h3>
                </div>

                <div class="col-lg-12">
                    <div class="col-md-7">
                        <h5>엄쌤의 SQLD자격증을 취득하기 위한 멘토&멘티 일석이조 게시판입니다. 강의게시판 간략 소개를 여기에
                            쓰시면 됩니다</h5>
                    </div>
                    <div class="col-md-5">
                        <div id="datatable_filter" class="dataTables_filter">
                            <label>Search:<input type="search"
                                                 class="form-control form-control-sm" placeholder=""
                                                 aria-controls="datatable"></label>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
            <!-- 게시판 제목, 설명 end -->

            <div class="row">
                <ul class="article-post-list">
                    <li>
                        <div class="post-list-contents">
                            <div class="post-list-header">
                                <a href="#"> <strong>Sql execution plan 문의드려요. 완전 초보입니다ㅠㅠ</strong></a>
                            </div>
                            <div class="post-list-info">
                                <p>부서번호에 Int형이 와야되는데 문자형이 오면 에러 발생하지 않나요? 이게 도메인 무결성 제약조건이랑은 상관없는거같은데..
                                    4번은 기존의 자재부가 있어서 참조무결성위배 맞지않나요?</p>
                            </div>
                            <div class="post-list-contents-bottom">
                            <div class="col-lg-4">
                                <a>고재현</a>
                                <p>2020.05.18</p>
                                <p>조회수 30</p>
                                <p>댓글 2</p>
                                </div>
                            </div>

                        </div>
                    </li>
                </ul>
            </div>
        </div>
        </li>
        </ul>
    </div>

</div>
</div>


<div th:include="/include/footer.html"></div>
</body>
</html>