<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout/defaultLayout">
<head>
<link href="/css/boardStyle.css" rel="stylesheet" type="text/css">
 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>
<body>

	<div layout:fragment="content">

		<div class="page-wrapper">
			<!-- Page Content-->
			<div class="page-content-tab">
				<div  th:object="${postsList}" class="container">

					<!-- 공간   -->
					<div class="row">
						<div class="col-sm-12">
							<div class="page-title-box"></div>
						</div>
					</div>
					<!-- 공간  end -->


					<!-- 게시판 제목, 설명 start -->
					<div class="row">

						<div class="col-lg-12">
							<input th:data-board-no="*{boardNo}" th:field="*{boardName}" value="게시판 제목을 입력해주세요" type="text"
								class="board_title_text" maxlength="35">
						</div>
					</div>
					<div class="row">
						<div class="col-md-7">
							<textarea th:field="*{boardIntro}" rows="2" cols="31" maxlength="62"
								placeholder="소개글을 넣어주세요." class="board_contents_text">[[*{boardIntro}]]</textarea>
						</div>
						<div class="col-md-5">
							<div id="search-period-selector"
								class="opt_selected_g open_layer">
								<div id="dataTable_dateFilter" class="dataTable_dateFilter">
									<label class="">일자검색: <input type="text"
										class="form-control form-control-sm searchDate active" placeholder="전체기간">
									</label>
								
									<div
										th:replace="~{common/board/fragment/selectDate :: selectDate }"></div>
								</div>
							</div>
							<div id="datatable_filter" class="dataTables_filter">
								<label class="board-search-bar">Search:<input
									type="search" class="form-control form-control-sm  searchPost"
									placeholder="제목/내용/이름" aria-controls="datatable"></label>
							</div>
						</div>

					</div>

					<hr class="black-hr">
					<!-- 게시판 제목, 설명 end -->

					<!-- <div  th:each=" posts : ${postsList}" -->
					<div class="postList">
					<div
						th:replace="~{common/board/fragment/postListFragment :: boardPostList( *{posts},*{boardNo} ) }"></div>
					</div>
					<div class="mg-top20">
						<div class="row">
							<div class="col-lg-2">

								<a
									th:href="@{/newPostForm/{boardNo}/{boardName}(boardNo=*{boardNo},boardName=*{boardName})}"
									class="btn btn-md btn-primary px-5">글쓰기</a>
							</div>
							<div class="col-lg-8">
								<div class="pagination_center">
									<ul class="pagination">
										<li class="paginate_button page-item previous disabled"
											id="datatable_previous"><a href="#"
											aria-controls="datatable" data-dt-idx="0" tabindex="0"
											class="page-link">이전</a></li>
										<li class="paginate_button page-item active"><a href="#"
											aria-controls="datatable" data-dt-idx="0" tabindex="0"
											class="page-link">1</a></li>
										<li class="paginate_button page-item "><a href="#"
											aria-controls="datatable" data-dt-idx="1" tabindex="0"
											class="page-link">2</a></li>
										<li class="paginate_button page-item "><a href="#"
											aria-controls="datatable" data-dt-idx="2" tabindex="0"
											class="page-link">3</a></li>
										<li class="paginate_button page-item next disabled"
											id="datatable_next"><a href="#"
											aria-controls="datatable" data-dt-idx="3" tabindex="0"
											class="page-link">다음</a></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-2">
						
									<button
									id="getMyPost"
									class="btn btn-md btn-gradient-info waves-effect waves-light px-5 getPost">내
									글보기</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
			integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
			crossorigin="anonymous"></script>
		<script th:src="@{/js/post/post.js}"></script>
		<script th:src="@{/js/board.js}"></script>
		<script
			th:src="@{https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.es6.min.js}"></script>
	</div>



</body>
</html>